.convocatorias a{
  display: block;
  background-image: url('imagenes/convocatorias.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.sugerencia{
  display: block;
  background-image: url('imagenes/sugerencias.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.encuesta{
  display: block;
  background-image: url('imagenes/encuestas.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.documento a{
  display: block;
  background-image: url('imagenes/documento.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.estadisticas a{
  display: block;
  background-image: url('imagenes/estadisticas.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.proyectos a{
  display: block;
  background-image: url('imagenes/proyectos.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.red a{
  display: block;
  background-image: url('imagenes/red.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.last a{
  display: block;
  background-image: url('imagenes/last.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
