
<fieldset class="suit-form">
    <h2></h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Nombre del proyecto
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="nombre_pro">
                   {% if original.proyecto.pk %}
                    <p>{{ original.proyecto.prop_titulo }} </p>

                {% else %}
                    <div class="text-muted">
                       El elemento aún no se ha guardado
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group row form-row" style=" background-color: rgb(228, 228, 228) !important; -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;-moz-box-shadow:    1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;box-shadow:         1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;" >
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Puntaje
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9" >
            <div class="form-control-static" id="nombre_con">
             {% if  change %}
                <h1 id="puntaje">{{original.proyecto.puntaje}}</h1>
            {% else %}
            <h1 id="puntaje">0</h1>
            {% endif%}

            </div>
        </div>
    </div>
</fieldset>
