
<fieldset class="suit-form">
    <h2>Información importante</h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row" style=" background-color: rgb(228, 228, 228) !important; -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;-moz-box-shadow:    1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;box-shadow:         1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Recuerda que... 
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9" >
            <div class="form-control-static" id="nombre_con">
             {% if original.estado == "E" %}
                <ul>
                <li><p>Puedes estar teniendo uno o más tipos de impactos esperados. Buscamos soluciones con efectos transversales que afecten todo el desarrollo de los estudiantes.</p></li>
                {% if change%}
                <li><p>En este momento puedes incluir nuevos resultados identificados. Si han pasado nuevas cosas increíbles, inclúyelas aquí.   </p></li>
                <li><p>Sé muy específico y cuéntanos en palabras cómo ves el impacto generado. Incluye fotos o videos. </p></li>
                {% endif%}
                </ul>

             {% else %}
                <ul>
                <li><p>Puedes tener uno o más tipos de impactos esperados. Buscamos soluciones con efectos transversales que afecten todo el desarrollo de los estudiantes.</p></li>
            {% endif%}

            </div>
        </div>
    </div>
</fieldset>

