
<fieldset class="suit-form">
    <h2>Información importante</h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row" style=" background-color: rgb(228, 228, 228) !important; -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;-moz-box-shadow:    1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;box-shadow:         1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Recuerda que... 
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="nombre_con">
                <ul>
                <li><p>Recuerda que una parte importante del éxito es la participación de representantes de la comunidad. Añade los miembros que hacen parte de tu equipo y que se han responsabilizado por un rol.</p></li>

            </div>
        </div>
    </div>
</fieldset>




 