
<fieldset class="suit-form">
    <h2></h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row" style=" background-color: #76b4f7 !important; color: #fff;" >

        <div class="" style="padding: 10px">
            <div class="form-control-static" id="nombre_con">
            <table id="result_list" style="color:#5c5f70">
                <tr>
                    <td>Elegibles</td>
                    <td>81 o más</td>
                </tr>
                <tr>
                    <td>Si así lo consideras, puedes pedir ajustes y ver la posibilidad de entrar a los Elegibles / Por Definir</td>
                    <td>Entre 60 y 80</td>
                </tr>
                <tr>
                    <td>No Seleccionado</td>
                    <td>59 o menos</td>
                </tr>
            </table>
            <br>
               <p style="font-size:1.2em">Evaluador, ¡gracias por participar en esta dinámica tan importante! Si el proyecto que evaluaste tuvo un puntaje mayor de 60 puntos, por favor, coordina una llamada con el Profesor postulante. Si tienes dudas sobre los siguientes pasos, vete al botón de Documentos en la parte superior derecha del Home. 

                Evaluador, si el proyecto es No Seleccionado, debes comunicárselo al Profesor. Para ideas sobre cómo comunicar esta decisión, vete al botón de Documentos en la parte superior derecha del Home.  </p>

                <p id="correo_postulante" style="font-size:1.5em">Correo electronico del Profesor postulante: {{ original.proyecto.usuario.email}}</p>

                
            </div>
        </div>
    </div>
</fieldset>