
<fieldset class="suit-form">
    <h2>Información importante</h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row" style=" background-color: rgb(228, 228, 228) !important; -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;-moz-box-shadow:    1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;box-shadow:         1px 0px 30px 0px rgba(50, 50, 50, 0.25) !important;">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Recuerda que... 
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="nombre_con">
             {% if original.estado == "EE" %}

                <ul>
                <li><p> Ya comenzaste a ejecutar tu proyecto.
                <li><p>Nos interesa que vayas organizando las actividades realizadas y el presupuesto gastado. Cuéntanos cuánto te has gastado en cada actividad, suma y pon ese valor en la casilla "Presupuesto". Incluye, por ejempo,  <strong>insumos, mano de obra, compras, entre otros. </strong></p></li>
                {% if change%}
                <li><p>En la parte inferior vas a poder ir viendo el presupuesto disponible que tienes después de los gastos realizados,</p></li>
                <li><p>Agradecemos evidencias fotográficas del proceso. ¡Nos encanta ver los resultados de tus esfuerzos! Historias, anécdotas, problemas y soluciones. Todo nos sirve para ayudarte a llevar a cabo el proyecto de la mejor manera. Recuerda que las personas que apoyaron tu proyecto quieren saber detalles.</p></li>

                {% endif%}
                </ul>

            {% else %}
                <ul>
                <li><p>La estimación del tiempo para realizar una actividad debe ser tomada en <strong> días, semanas, meses, años.</strong> Ejemplo: 2 días, 1 semana.</p></li>
                <li><p>Suma todo lo que costará la actividad, que incluya, por ejempo,  <strong>insumos, mano de obra, compras, entre otros. </strong> Esta suma corresponde al presupuesto de la actividad.</p></li>
                {% if change%}
                <li><p>En este cuadro puedes organizar las actividades, añadiendo, cambiando el orden e incluso eliminando aquellas que no consideres necesarias. La idea es que te puedas organizar. Recuerda que el presupuesto es inamovible.</p></li>
                {% endif%}
                </ul>

  
            {% endif %}
            </div>
        </div>
    </div>
</fieldset>


