
<fieldset class="suit-form">
    <h2>Convocatoria</h2>

    <!--<div class="description">This is another custom form include example</div>-->

    <div class="form-group row form-row">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Nombre de la convocatoria
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="nombre_con">
                   {% if original.convocatoria.pk %}
                    <p>{{ original.convocatoria.nombre }} </p>

                {% else %}
                    <div class="text-muted">
                       El elemento aún no se ha guardado
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="form-group row form-row">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Convocatoria
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="foto_con">
                {% if original.convocatoria.pk %}
                    <img src="{{ original.convocatoria.imagen.url }}" alt="" class="img-fluid img-thumbnail" style="max-width: 200px" >

                {% else %}
                    <div class="text-muted">
                       El elemento aún no se ha guardado
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  {% if change %}
    <div class="form-group row form-row">
        <label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Estado del proyecto
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
            <div class="form-control-static" id="foto_con">
                {% if original.estado != none %}
                     <h4>{{ original.get_estado_display }} </h4>

                {% else %}
                    <div class="text-muted">
                       El elemento aún no se ha guardado
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
 {% endif %}
</fieldset>