
#carousel-example-generic {
	height: 350px;
}

.block-separator {
	padding: 10px 0;
}

.navbar {
	margin-bottom: 0 !important;
}
.navbar-default {
	background-color: #29292B;
	padding: 10px 0 !important;
	border: none;
}

.footer {
	padding-top: 10px; 
	position: relative !important;
}



.btn-acceso:hover {
	text-decoration: none;
	color: white;
}

#mapa {


	padding: 20px 0;
	background-color: #DDD;

}

#mapa_block img {
	width: 100%;
	height: 300px;
}

#mapa_block p > a {
	padding: 10px 12px;
	display: block;
	margin-top: 10px;
	border: 1px solid;
	border-radius: 5px;
}

#mapa_block p > a:hover {
	text-decoration: none;
}

.capa_link_plataforma {
	background-color: rgba(0,0,0,0.35);
    position: fixed;
    top: 94px;
    right: 220px;
    width: 350px;
    height: 132px;
    border-radius: 15px;
}

.btn-acceso {
	font-weight: bolder;
	color: white;
	padding: 20px 28px;
	font-size: 14pt;
	position: absolute;
	right: 90px;
	bottom: 20px;
}

/*  Banner 1  */

.banner_atlantico_lider {
	position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
}

.divider {
	width: 100%;
	border-bottom: 1px dashed #DDD;
}

@media screen and (max-width: 690px){
	.capa_link_plataforma {
		background-color: rgba(0,0,0,0.35);
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 132px;
		border-radius: 0px !important;
		text-align: center;	
		padding-top: 30px;
	}
	.btn-acceso {
		font-weight: bolder;
		color: white;
		font-size: 14pt;
		text-align: center;
		position: initial;
		padding: 0;
	}
}