.object-tools {
    display: block;
    margin: 5px 0;
}
.content {
    display: block;
}
.texto-vertical-2 {
    width: 3px;
    word-wrap: break-word;
    text-align: center;
    padding: 4px;
}
table.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #a9a9a9;
    border-collapse: collapse;
}
table.tftable th {
    color: #333333;
    font-size: 12px;
    background-color: #cdcdcd;
    border-width: 1px;
    margin: 1px;
    border-style: solid;
    border-color: #a9a9a9;
    text-align: center;
    padding: 7px 0;
}
table.tftable tr {
    background-color: #ededed;
}
table.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #a9a9a9;
}
.contenedor_tabla {
    text-align: center;
    color: #212121;
}
.sitio {
    text-align: left;
}
.exportar_hi {
    visibility: hidden;
}