
    body {
        background-color: #ffffff !important;
    }
    @font-face {
        font-family: 'MONTSERRAT';
        src: url("{% static 'css/Montserrat-Light.ttf' %}");
        src: local("{% static 'css/Montserrat-Light.ttf' %}"),
        url('{% static 'css/Montserrat-Light.woff' %}') format('woff'), 
        url('gestareg-Montserrat-Light.woff2') format('woff2'), 
        url("{% static 'css/Montserrat-Light.ttf' %}") format('ttf')
        url("{% static 'css/Montserrat-Light.eot' %}") format('eot');
    }
    .wizard-container {
        padding-top: 10px !important;
    }
    .modal {
        padding: 10px !important;
        border-radius: 3px !important;
        background-color: inherit;
        max-width: inherit !important;
        -webkit-box-sizing: inherit !important;
        box-sizing: inherit !important;
        width: inherit !important;
        top: 10px!important;
        -webkit-transform: inherit !important;
        -o-transform: inherit !important;
        -ms-transform: inherit !important;
        transform: inherit !important;
    }
    .wizard-card .picture {
        width: 180px !important;
        height:  inherit !important;
        background-color:  !important;
        color: #FFFFFF !important;
        border-radius: 10% !important;
        margin: 5px auto;
        overflow: hidden !important;
        transition: all 0.2s !important;
        -webkit-transition: all 0.2s !important;
    }

    .image-container:before {
        background: #ffffff !important;
        opacity: .9 !important;
    }


    .container {
        width: 100% !important;
    }

    .wizard-card[data-color="blue"] .moving-tab {
        background-color: #76B4FA !important;
        box-shadow: inherit !important;
    }

    .btn.btn-info {
        box-shadow: inherit  !important;
    }

    .btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover, .open > .btn.btn-info.dropdown-toggle, .open > .btn.btn-info.dropdown-toggle:focus, .open > .btn.btn-info.dropdown-toggle:hover {
        background-color: #76B4FA !important;
        color: #FFFFFF !important;
    }

    .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover {
        box-shadow: inherit !important;
    }


    .btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover, .open > .btn.btn-info.dropdown-toggle, .open > .btn.btn-info.dropdown-toggle:focus, .open > .btn.btn-info.dropdown-toggle:hover {
        background-color: #76B4FA !important;
        color: #FFFFFF !important;
    }

    .wizard-card[data-color="blue"] .form-group .form-control {
        background-image: linear-gradient(#76B4FA, #76B4FA), linear-gradient(#D2D2D2, #D2D2D2)  !important;
    }


    .input_modal{

        background-image: linear-gradient(#76B4FA, #76B4FA), linear-gradient(#D2D2D2, #D2D2D2)  !important;
    }

}

.picture:hover {
    border-color: #76b4f7 !important;
}


.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover, .open > .btn.btn-success.dropdown-toggle, .open > .btn.btn-success.dropdown-toggle:focus, .open > .btn.btn-success.dropdown-toggle:hover {
    background-color: #ec8d6c !important;
    color: #FFFFFF !important;
}

.btn.btn-success {
    box-shadow: inherit !important;
} 

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    color: #fff !important;
    background-color: #ec8d6c !important;
    border-color: #ec8d6c !important;
}
.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover {
    box-shadow: inherit !important;
}

.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover, .open > .btn.btn-success.dropdown-toggle, .open > .btn.btn-success.dropdown-toggle:focus, .open > .btn.btn-success.dropdown-toggle:hover {
    background-color: #ec8d6c !important;
    color: #FFFFFF !important;
}
.btn-success {
    color: #fff !important;
    background-color: #ec8d6c !important;
    border-color: #ff9800 !important;
}
.invalid{
    marker-end: 
}
.quiar_margin {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 10px 30px;
    /* margin: 10px 1px; */
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.table {
    width: 100% !important;
    max-width: 100% !important;
    border: 1.5px #dddddd solid !important;
    border-radius: 10px  !important;
}

th {
    text-align: left;
    background-color: #f4f4f4;
}

.wizard-card {
    min-height: initial !important;
    box-shadow: initial !important;
}

.ocultar{
    display: none;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 0px !important;
}

#menu_DIV_1 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: flex;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(55, 58, 60);
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 640.5px 85.5px;
    transform-origin: 640.5px 85.5px;
    caret-color: rgb(55, 58, 60);
    background: rgb(255, 255, 255) url("{% static 'css/fondo_2.svg' %}") repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    flex-flow: row wrap;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(55, 58, 60) none 0px;
    padding: 14.5834px 0px 0px;
}/*#menu_DIV_1*/

#menu_DIV_2 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 60px;
    min-height: auto;
    min-width: 200px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    ¡
    column-rule-color: rgb(55, 58, 60);
    align-self: center;
    perspective-origin: 144px 30px;
    transform-origin: 144px 30px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    flex: 0 1 288px;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px 0px 0px 26.25px;
}/*#menu_DIV_2*/

#menu_DIV_3, #menu_DIV_10 {
    box-shadow: rgb(136, 136, 136) 2px 2px 6px 0px;
    box-sizing: border-box;
    display: none;
    height: auto;
    position: absolute;
    right: 10px;
    text-size-adjust: 100%;
    top: 10%;

    z-index: 9999;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
}/*#menu_DIV_3, #menu_DIV_10*/

#menu_DIV_4, #menu_DIV_11 {
    box-shadow: rgb(228, 228, 228) 0px 1px 0px 0px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    text-size-adjust: 100%;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    margin: 0px 0px 10.5px;
}/*#menu_DIV_4, #menu_DIV_11*/

#menu_DIV_5, #menu_DIV_12 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 126, 229) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10.5px 17.5px;
}/*#menu_DIV_5, #menu_DIV_12*/

#menu_DIV_5:after, #menu_DIV_12:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    content: '""';
    display: table;
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
}/*#menu_DIV_5:after, #menu_DIV_12:after*/

#menu_B_6, #menu_B_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
}/*#menu_B_6, #menu_B_13*/

#menu_A_7, #menu_A_14 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    float: right;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    touch-action: manipulation;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
}/*#menu_A_7, #menu_A_14*/

#menu_DIV_8, #menu_DIV_15 {
    box-sizing: border-box;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    padding: 17.5px;
}/*#menu_DIV_8, #menu_DIV_15*/

#menu_DIV_8:after, #menu_DIV_15:after {
    box-sizing: border-box;
    clear: both;
    content: '""';
    display: table;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
}/*#menu_DIV_8:after, #menu_DIV_15:after*/

#menu_P_9, #menu_P_16 {
    box-sizing: border-box;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    margin: 0px 0px 14px;
}/*#menu_P_9, #menu_P_16*/

#menu_H1_17 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 60px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 130.875px 30px;
    transform-origin: 130.875px 30px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 23.996px / 26.3956px MONTSERRAT;
    margin: 0px;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_H1_17*/

#menu_A_18 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;

    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    touch-action: manipulation;
    width: 80%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 70px 30px;
    transform-origin: 70px 30px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 23.996px / 26.3956px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
}/*#menu_A_18*/

#menu_IMG_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;

    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 70px 30px;
    transform-origin: 70px 30px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 23.996px / 26.3956px MONTSERRAT;
    outline: rgb(255, 255, 255) none 0px;
}/*#menu_IMG_19*/

#menu_DIV_20 {
    box-sizing: border-box;
    color: rgb(92, 95, 112);
    height: 28px;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(92, 95, 112);
    text-size-adjust: 100%;

    column-rule-color: rgb(92, 95, 112);
    align-self: center;
    perspective-origin: 496.5px 14px;
    transform-origin: 496.5px 14px;
    caret-color: rgb(92, 95, 112);
    border: 0px none rgb(92, 95, 112);
    flex: 2 1 288px;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(92, 95, 112) none 0px;
    padding: 0px 26.25px;
}/*#menu_DIV_20*/

#menu_SPAN_21 {
    box-sizing: border-box;
    color: rgb(92, 95, 112);
    display: inline-block;
    height: 18px;
    text-align: right;
    text-decoration: none solid rgb(92, 95, 112);
    text-size-adjust: 100%;

    column-rule-color: rgb(92, 95, 112);
    perspective-origin: 53.8906px 9px;
    transform-origin: 53.8906px 9px;
    caret-color: rgb(92, 95, 112);
    border: 0px none rgb(92, 95, 112);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(92, 95, 112) none 0px;
}/*#menu_SPAN_21*/

#menu_STRONG_22 {
    box-sizing: border-box;
    color: rgb(92, 95, 112);
    text-align: right;
    text-decoration: none solid rgb(92, 95, 112);
    text-size-adjust: 100%;
    column-rule-color: rgb(92, 95, 112);
    caret-color: rgb(92, 95, 112);
    border: 0px none rgb(92, 95, 112);
    font: normal normal 300 normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(92, 95, 112) none 0px;
}/*#menu_STRONG_22*/

#menu_DIV_23 {
    box-sizing: border-box;
    color: rgb(92, 95, 112);
    display: inline-block;
    height: 28px;
    text-align: right;
    text-decoration: none solid rgb(92, 95, 112);
    text-size-adjust: 100%;

    column-rule-color: rgb(92, 95, 112);
    perspective-origin: 143.594px 14px;
    transform-origin: 143.594px 14px;
    caret-color: rgb(92, 95, 112);
    border: 0px none rgb(92, 95, 112);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(92, 95, 112) none 0px;
}/*#menu_DIV_23*/

#menu_SPAN_24, #menu_SPAN_26 {
    box-sizing: border-box;
    color: rgb(92, 95, 112);
    text-align: right;
    text-decoration: none solid rgb(92, 95, 112);
    text-size-adjust: 100%;
    column-rule-color: rgb(92, 95, 112);
    caret-color: rgb(92, 95, 112);
    border: 0px none rgb(92, 95, 112);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(92, 95, 112) none 0px;
}/*#menu_SPAN_24, #menu_SPAN_26*/

#menu_A_25 {
    box-sizing: border-box;
    color: rgb(92, 95, 111);
    display: inline-block;
    height: 28px;
    text-align: right;
    text-decoration: none solid rgb(92, 95, 111);
    text-size-adjust: 100%;
    touch-action: manipulation;

    column-rule-color: rgb(92, 95, 111);
    perspective-origin: 67.4375px 14px;
    transform-origin: 67.4375px 14px;
    caret-color: rgb(92, 95, 111);
    border: 0px none rgb(92, 95, 111);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    margin: 0px 2px 0px 20px;
    outline: rgb(92, 95, 111) none 0px;
    padding: 5px;
}/*#menu_A_25*/

#menu_A_27 {
    box-sizing: border-box;
    color: rgb(92, 95, 111);
    display: inline-block;
    height: 28px;
    text-align: right;
    text-decoration: none solid rgb(92, 95, 111);
    text-size-adjust: 100%;
    touch-action: manipulation;

    column-rule-color: rgb(92, 95, 111);
    perspective-origin: 53.4844px 14px;
    transform-origin: 53.4844px 14px;
    caret-color: rgb(92, 95, 111);
    border: 0px none rgb(92, 95, 111);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    margin: 0px 2px;
    outline: rgb(92, 95, 111) none 0px;
    padding: 5px;
}/*#menu_A_27*/

#menu_SCRIPT_28, #menu_SCRIPT_29 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 58, 60);
    align-self: center;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_SCRIPT_28, #menu_SCRIPT_29*/

#menu_SCRIPT_30 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 58, 60);
    align-self: center;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_SCRIPT_30*/

#menu_DIV_31 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 38.4375px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    align-self: center;
    perspective-origin: 640.5px 19.2188px;
    transform-origin: 640.5px 19.2188px;
    caret-color: rgb(55, 58, 60);
    background: rgb(118, 180, 247) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    flex: 0 1 100%;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    margin: 14.5834px 0px 0px;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_DIV_31*/

#menu_UL_32 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 614.25px 0px;
    transform-origin: 614.25px 0px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    margin: 0px 26.25px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px;
}/*#menu_UL_32*/

#menu_LI_33 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 36.5156px 18.7188px;
    transform-origin: 36.5156px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_33*/

#menu_A_34 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;

    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 36.5156px 18.7188px;
    transform-origin: 36.5156px 18.7188px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_34*/

#menu_LI_35 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 62.6719px 18.7188px;
    transform-origin: 62.6719px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_35*/

#menu_A_36 {
    bottom: 0px;
    box-shadow: rgb(39, 155, 238) 0px 3px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(60, 58, 55);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(60, 58, 55);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 125.344px;
    column-rule-color: rgb(60, 58, 55);
    perspective-origin: 62.6719px 18.7188px;
    transform-origin: 62.6719px 18.7188px;
    caret-color: rgb(60, 58, 55);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(60, 58, 55);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(60, 58, 55);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(60, 58, 55) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_36*/

#menu_LI_37 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 49.5469px 18.7188px;
    transform-origin: 49.5469px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_37*/

#menu_A_38 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 49.5469px 18.7188px;
    transform-origin: 49.5469px 18.7188px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_38*/

#menu_UL_39, #menu_UL_44 {
    box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 2px 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: none;
    height: auto;

    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    width: auto;
    z-index: 1000;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(55, 58, 60);
    background: rgb(56, 61, 75) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 13.006px / 19.509px MONTSERRAT;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px;
}/*#menu_UL_39, #menu_UL_44*/

#menu_LI_40, #menu_LI_45, #menu_LI_51 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: auto;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 13.006px / 19.509px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_40, #menu_LI_45, #menu_LI_51*/

#menu_A_41, #menu_A_46, #menu_A_52 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    touch-action: manipulation;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(45, 49, 61);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 13.006px / 19.509px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7.29162px 18.7501px;
}/*#menu_A_41, #menu_A_46, #menu_A_52*/

#menu_LI_42 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 83.9531px 18.7188px;
    transform-origin: 83.9531px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_42*/

#menu_A_43 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 83.9531px 18.7188px;
    transform-origin: 83.9531px 18.7188px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_43*/

#menu_UL_47 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    float: right;
    height: 38.4375px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 178.672px 19.2188px;
    transform-origin: 178.672px 19.2188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    margin: 0px 26.25px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px;
}/*#menu_UL_47*/

#menu_LI_48 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 43.0781px 18.7188px;
    transform-origin: 43.0781px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_48*/

#menu_A_49 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;

    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 43.0781px 18.7188px;
    transform-origin: 43.0781px 18.7188px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_49*/

#menu_UL_50 {
    box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 2px 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: none;
    height: auto;

    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    width: auto;
    z-index: 1000;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(55, 58, 60);
    background: rgb(56, 61, 75) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 13.006px / 19.509px MONTSERRAT;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px;
}/*#menu_UL_50*/

#menu_LI_53 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 59.7969px 18.7188px;
    transform-origin: 59.7969px 18.7188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_53*/

#menu_A_54 {
    bottom: 0px;
    box-shadow: rgb(39, 155, 238) 0px 3px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 37.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;

    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 59.7969px 18.7188px;
    transform-origin: 59.7969px 18.7188px;
    caret-color: rgb(255, 255, 255);
    background: rgb(118, 180, 247) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_54*/

#menu_LI_55 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 38.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    top: 0px;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 75.7969px 19.2188px;
    transform-origin: 75.7969px 19.2188px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_55*/

#menu_A_56 {
    bottom: 0px;
    box-shadow: rgb(39, 155, 238) 0px 3px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 38.4375px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;

    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 75.7969px 19.2188px;
    transform-origin: 75.7969px 19.2188px;
    caret-color: rgb(255, 255, 255);
    background: rgb(118, 180, 247) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 126, 229);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(118, 180, 247);
    font: normal normal bold normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9.72216px 18.7501px;
}/*#menu_A_56*/

#menu_DIV_57 {
    box-sizing: border-box;
    display: inline-block;
    height: 19px;
    text-align: left;
    text-size-adjust: 100%;

    perspective-origin: 10px 9.5px;
    transform-origin: 10px 9.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(16, 129, 210);
    border-radius: 50% 50% 50% 50%;
    font: normal normal bold normal 10px / 15px MONTSERRAT;
    list-style: none outside none;
    margin: 0px 5px 0px 0px;
}/*#menu_DIV_57*/

#menu_SPAN_58 {
    box-sizing: border-box;
    display: block;
    height: 15px;
    text-align: center;
    text-size-adjust: 100%;

    perspective-origin: 8px 7.5px;
    transform-origin: 8px 7.5px;
    font: normal normal bold normal 10px / 15px MONTSERRAT;
    list-style: none outside none;
}/*#menu_SPAN_58*/

#menu_DIV_59 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 43.4062px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    align-self: center;
    perspective-origin: 640.5px 21.7031px;
    transform-origin: 640.5px 21.7031px;
    caret-color: rgb(55, 58, 60);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    flex: 0 1 100%;
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_DIV_59*/

#menu_UL_60 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 603.75px 0px;
    transform-origin: 603.75px 0px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    margin: 0px 36.75px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 0px;
}/*#menu_UL_60*/

#menu_LI_61 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 0px;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 603.75px 0px;
    transform-origin: 603.75px 0px;
    caret-color: rgb(55, 58, 60);
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 12.6px / 18.9px MONTSERRAT;
    list-style: none outside none;
    outline: rgb(55, 58, 60) none 0px;
}/*#menu_LI_61*/

#menu_A_62 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    float: left;
    height: 44.4062px;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 60);
    text-size-adjust: 100%;
    touch-action: manipulation;

    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 48.2812px 22.2031px;
    transform-origin: 48.2812px 22.2031px;
    caret-color: rgb(55, 58, 60);
    border-top: 0px none rgb(55, 58, 60);
    border-right: 0px none rgb(55, 58, 60);
    border-bottom: 3px solid rgb(16, 129, 210);
    border-left: 0px none rgb(55, 58, 60);
    font: normal normal bold normal 13.006px / 19.509px MONTSERRAT;
    list-style: none outside none;
    margin: 2px 7px -3px 0px;
    outline: rgb(55, 58, 60) none 0px;
    padding: 11.2179px 4px;
}/*#menu_A_62*/
