#result_list tbody > tr.selected, .tabular table tbody > tr.selected, table#change-history tbody > tr.selected {
    background-color: #76b4f7 !important;
}




body.suit_layout_horizontal #header #user-tools strong {
    color: #5c5f70 !important;
}

body.suit_layout_horizontal #header #user-tools {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0 1.875rem;
    text-align: right;
    color: #5c5f70 !important;
}

body.suit_layout_horizontal #suit-nav > ul > li > a {
    position: relative;
    padding: 0.69444rem 1.33929rem;
    border-left: 1px solid #76b4f7 !important;
    border-right: 1px solid #007ee5 !important;
}

body.suit_layout_horizontal #header #user-tools a {
    display: inline-block;
    margin: 0 2px;
    color: #5C5F6F !important;
    padding: 5px;
}

a {
    color: #5C5F75;
    text-decoration: none;
}
body.suit_layout_horizontal #header {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-line-pack: center;align-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: #ffffff;padding-top: 1.04167rem;background-image: url('fondo_2.svg'); background-repeat: repeat-x !important ; }

body.suit_layout_horizontal #suit-nav > ul > li a {display: block;color:#ffffff;font-weight:bold !important;}
body.suit_layout_horizontal #suit-nav > ul > li.active a {background-color: #fff;color: #3c3a37;font-weight: bold;box-shadow: inset 0 3px 0 #279bee;}

body.suit_layout_horizontal #suit-nav {-ms-flex-preferred-size: 100%;flex-basis: 100%;margin-top: 1.04167rem;background-color:#76b4f7!important;}
body.suit_layout_horizontal #header #user-tools {-webkit-box-flex: 2;-ms-flex-positive: 2;flex-grow: 2;padding: 0 1.875rem;text-align: right;color: #ecedf1;}
body.suit_layout_horizontal #header #user-tools a {display: inline-block;margin: 0 2px;color: #f8fbfd;padding: 5px;}

body.suit_layout_horizontal #header .header-label {font-size: 0.857rem;color: #f4f5f7;text-transform: uppercase;font-weight: normal;}
.btn-success, #content-main > .object-tools > li > a.addlink:not([class*="btn-"]) {color: #fff;background-color: #2196F3;border-color: #2196F3;}
.btn-success:hover, #content-main > .object-tools > li > a.addlink:hover:not([class*="btn-"]) { color: #fff; background-color: #a6aaa8; border-color: #a6aaa8; }
.btn-primary, .submit-row input[type='submit']:not([class*="btn-"]):first-child, .submit-row input[type='button']:not([class*="btn-"]):first-child, .submit-row button:not([class*="btn-"]):first-child, body.login .submit-row input[type='submit'], #changelist #toolbar #changelist-search input[type='submit'], #changelist #changelist-form .actions button, #changelist #changelist-form .paginator input[type='submit'] { color: #fff; background-color: #2196F3; border-color: #2196F3; }
.btn-primary:hover, .submit-row input[type='submit']:hover:not([class*="btn-"]):first-child, .submit-row input[type='button']:hover:not([class*="btn-"]):first-child, .submit-row button:hover:not([class*="btn-"]):first-child, body.login .submit-row input[type='submit']:hover, #changelist #toolbar #changelist-search input[type='submit']:hover, #changelist #changelist-form .actions button:hover, #changelist #changelist-form .paginator input[type='submit']:hover { color: #fff; background-color: #a6aaa8; border-color: #a6aaa8; }
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
    color: #ffffff !important ;
    background-color: #2196F3;
    border-color: #f5be7c #ffcf95 transparent;
}
body.suit_layout_horizontal #suit-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 1.04167rem;
    background-color: #23445f;

}
body.suit_layout_horizontal #suit-nav > ul > li > a {
    position: relative;
    padding: 0.69444rem 1.33929rem;
    border-left: 1px solid #01579B;
}
.btn-success:active, #content-main > .object-tools > li > a.addlink:active:not([class*="btn-"]), .btn-success.active, #content-main > .object-tools > li > a.active.addlink:not([class*="btn-"]), .open > .btn-success.dropdown-toggle, #content-main > .object-tools > li.open > a.dropdown-toggle.addlink:not([class*="btn-"]) {
    color: #fff;
    background-color: #1E88E5 !important;
    border-color: #1f6bad !important;
    background-image: none;
}
.btn-success:focus, #content-main > .object-tools > li > a.addlink:focus:not([class*="btn-"]), .btn-success.focus, #content-main > .object-tools > li > a.focus.addlink:not([class*="btn-"]) {
    color: #fff;
    background-color: #1565C0;
    border-color: #17406f;
}

body {
    font-family: "MONTSERRAT" !important;
    font-size: 0.9rem !important;
    background-color: #ffffff !important;
    
}

body.suit_layout_horizontal #suit-nav > ul > li:hover > a {background-color: #76b4f7!important; }
body.suit_layout_horizontal #suit-nav > ul > li:hover > ul {background-color: #76b4f7!important;display: block;}


th{
  font-size: 0.85rem !important   
}

h2{
  font-size: 0.95rem !important ;
  font-weight: bold !important ;
}



.btn-primary, .submit-row input[type='submit']:not([class*="btn-"]):first-child, .submit-row input[type='button']:not([class*="btn-"]):first-child, .submit-row button:not([class*="btn-"]):first-child, body.login .submit-row input[type='submit'], #changelist #toolbar #changelist-search input[type='submit'], #changelist #changelist-form .actions button, #changelist #changelist-form .paginator input[type='submit'] { color: #fff; background-color: #ec8d6c; border-color: #ec8d6c; }
.btn-success, #content-main > .object-tools > li > a.addlink:not([class*="btn-"]) {color: #fff;background-color: #ec8d6c;border-color: #ec8d6c;}
#changelist #changelist-filter h3 { background-color: #e4e4e4; color: #000; font-size: 0.929rem; font-weight: normal; padding: 0.46875rem 0.625rem; margin: 0; }




#result_list thead > tr th, .tabular table thead > tr th, table#change-history thead > tr th {
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2);
    font-weight: normal;
    background-color: #e4e4e4;
    color: #000000;
    padding: 0;
    position: relative;
    line-height: normal;
}


#result_list thead > tr th a, .tabular table thead > tr th a, table#change-history thead > tr th a {
    color: #000000;
    display: block;
}

#result_list thead > tr th.sorted, .tabular table thead > tr th.sorted, table#change-history thead > tr th.sorted {
    background-color: #007ee5;
}

.ascending  {
}


.ascending > div > a {
    color: #fff !important;
    display: block;
}

.descending  {
    color: #fff !important;
}


.descending > div > a {
    color: #fff !important;

}

.descending > div > span {
    color: #fff !important;

}

.ascending > div > span {
    color: #fff !important;

}


.card-header {
    background-color: #007ee5 !important;
}
@font-face {
  font-family: 'MONTSERRAT';
  src: url('Montserrat-Light.ttf');
  src: local('Montserrat-Light.ttf'),
       url('Montserrat-Light.woff') format('woff'), 
       url('gestareg-Montserrat-Light.woff2') format('woff2'), 
       url('Montserrat-Light.ttf') format('ttf')
       url('Montserrat-Light.eot') format('eot');
}


.ocultar{
display: none;
}
.django-select2 {
    width: 100% !important;
}


        .not-active {
        pointer-events: none !important;
        cursor: default!important;
        background-color: #ec8d6c !important;
        }


#btn_seeOportunidades {
    margin: 0px 10px 0px 0px;
    display: block;
    color: white;
    background-color: rgb(33, 150, 243) !important;
    border-color: rgb(33, 150, 243) !important;
}