#branding {
	text-align: center;
}	

#branding a > img {
	width: 200px !important;
    margin: 0 0 1em 0 !important;
}

.submit-row {
	text-align: center;
	padding: 1em 0;
	padding-left: 0 !important;
}