        .object-tools {
            display: block!important;
            margin: 5px 0!important;
        }
        .content {
            display: block!important;
        }
        .object-tools {
            display: block!important;
            margin: 5px 0!important;
        }
        .content {
            display: block!important;
        }
        .texto-vertical-2 {
            width: 3px!important;
            word-wrap: break-word!important;
            text-align: center!important;
            padding: 4px!important;
            font-weight: bold !important;
        }
        table.tftable {
            font-size: 12px!important;
            color: #333333!important;
            width: 100%!important;
            border-width: 1px!important;
            border-color: #a9a9a9!important;
            border-collapse: collapse!important;
        }
        table.tftable .tht1 td {
            font-size: 12px!important;
            background-color: #cdcdcd!important;
            border-width: 1px!important;
            padding: 8px!important;
            border-style: solid!important;
            border-color: #a9a9a9!important;
            text-align: center!important;
            font-weight: bold!important;
        }
        table.tftable .tht td {
            font-size: 12px!important;
            background-color: #cdcdcd!important;
            border-width: 1px!important;
            padding: 8px!important;
            border-style: solid!important;
            border-color: #a9a9a9!important;
            font-weight: bold!important;
        }
        table.tftable tr {
            background-color: #ededed!important;
        }
        table.tftable td {
            font-size: 12px!important;
            border-width: 1px!important;
            padding: 5px!important;
            border-style: solid!important;
            border-color: #a9a9a9!important;
        }
        .contenedor_tabla {
            padding: 0px!important;
            text-align: center!important;
            color: #212121!important;
        }
        .sitio {
            text-align: left !important!important;
        }
        .center {
            text-align: center!important;
            font-weight: bold!important;
            background-color: #e0dede !important;
        }
        .center3 {
            text-align: center!important;
            font-weight: normal !important;
            background-color: #e0dede !important;
            padding: 3px !important;
        }
        .center2 {
            text-align: center!important;
        }
        .td2 {
            font-size: 12px!important;
            background-color: #cdcdcd!important;
            border-width: 1px!important;
            padding: 8px!important;
            border-style: solid!important;
            border-color: #a9a9a9!important;
            text-align: center!important;
            font-weight: bold!important;
        }
        #tabla {
            padding: 0px !important;
        }
        .dia {
            padding: 5px !important;
            text-align: center!important;
            font-weight: bold !important;
        }
        table tr:nth-child(even) {
            background-color: #eee!important;
        }
        table tr:nth-child(odd) {
            background-color: #fff!important;
        }