{% extends 'admin/base.html' %}
{% load i18n admin_static suit_tags %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href='{% static "suit/css/font-awesome.min.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "css/mod.css" %}' rel='stylesheet' type='text/css'>

<style type="text/css">
    .has-children > .sub-nav{
        display: none !important;
    }
/*    select{
        max-width: 200px !important;
    }*/

    body {
      min-height: 100%;
      height: 100%;
      background-image: url('{{ FONDO_SITE }}');
      background-position: -130% 180px;
      background-repeat: no-repeat;
      background-size: 80%;
      margin-bottom: 60px;
      background-color: {{ COLOR_BG }} !important;
    }
#link_{
    color: #76b4f7 !important;
    size: 10px;
}

.notificaciones_tray{
    color: black;
}


.card {
    margin-bottom: 0px !important;

}


    #suit-nav {
        /*background-color: {{ COLOR_SECONDARY }} !important;*/
    }
    #header {
        /*background-color: {{ COLOR_PRIMARY }} !important;   */
    }

    .notificationsTray {
        position: absolute;
        right: 10px;
        top: 10%;
        width: 400px;

        border-radius: 5px;
        box-shadow: 2px 2px 6px #888;
        color: black;
        z-index: 9999;
        display: none;
        background-color: white;
    }

    .notificationsTray ul {
        list-style: none;
        padding-top: 0;
    }

    .notificationsTray ul > li {
        padding: 10px 0;
        border-bottom: 1px solid white;
    }

    .ver_notif {
        border: 1px solid white;
        border-radius: 4px;
        padding: 4px 4px;
        color:  #76b4f7 !important;
        text-decoration: none;
        margin-top: 15px;
    }
    .ver_notif:hover {
        text-decoration: none;
        color: grey !important;
    }

.button_tray{
    background-color: #76b4f7 !important;
    color: white !important;
}

.button_tray:hover {

    color: black !important;
}
.comments-list{
    color: black;
}
small{
    color: grey;
}

.numberCircle {
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    width: 20px;
    font-size: 10px;
    border: 2px solid #1081d2;
    display: inline-block;
    margin-right: 5px;
}
.numberCircle span {
    text-align: center;
    line-height: 15px;
    display: block;
}

    .blink_me {
      animation: blinker 1s linear infinite;
    }

    @keyframes blinker {  
      50% { opacity: 0; }
    }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}

    

<div id="notificationsTray" class="notificationsTray">
    <div class="card text-center " >
      <div class="card-header" >
          <b>Comunicaciones</b> <a class="pull-right" onclick="cerrarTray();">Cerrar</a>
      </div>
      <div class="card-block" id="notificaciones_tray" class="notificaciones_tray">
        <p>No hay comunicaciones</p>
      </div>
    </div>
    </div>

<div id="documentosTray"  class="notificationsTray">
    <div class="card text-center " >
      <div class="card-header" >
          <b>Documentos</b> <a class="pull-right" onclick="cerrarTray2();">Cerrar</a>
      </div>
      <div class="card-block" id="documentos_tray" class="notificaciones_tray">
        <p>No hay documentos</p>
      </div>
    </div>
    </div>

    <h1 id="site-name">
        <a href="/admin/"><img src="{% static 'imagenes/logo.png' %}" alt="" width="100%" style="display: inline-block;height: 60px;width: 140px; opacity: 1;filter: alpha(opacity=50);" /></a>
    </h1>
{% endblock %}

{% block pretitle %}
<div class="content-wrap">
{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools" class="suit-user-tools">
            {% block welcome-msg %}
                <span class="welcome">
                Bienvenido,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            </span>
            {% endblock %}
            <div class="user-links">
            {% block userlinks %}
                {% if site_url %}

                 <span class="separator">/</span>

                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}" class="icon-link documentation-link" data-title="{% trans 'Documentation' %}">{% trans 'Documentation' %}</a>
                        <span class="separator">/</span>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}" class="icon-link change-password-link" data-title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
                    <span class="separator">/</span>
                {% endif %}
                <a href="{% url 'admin:logout' %}" class="icon-link logout-link" data-title="{% trans 'Log out' %}">{% trans 'Log out' %}</a>
            {% endblock %}
            </div>
        </div>
    {% endif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}

{% block nav-global %}
    {% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
{#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                    <div class="row">

                        <div class="col-xs-12 col-sm-3 footer-links">
                          
                            <img src="{% static 'imagenes/Varios-12.png' %}" alt="" style="width: 120px; display: inline-block;" />
                        </div>

                        <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright">
                            {% block copyright %}
                                Copyright &copy;
                                <span class="hidden-md-down">2016-</span>{% now "Y" %} SCOLA
                                <br> by adiuvo
                            {% endblock %}
                            <br>
                          
                        </div>

                        <div class="col-xs-12 col-sm-3 text-sm-right footer-version">
                            {% block footer_branding %}
                                {% with site_header|default:_('Django administration') as admin_name %}
                                    {{ admin_name }}
                                    {% if admin_name == 'Django Suit' %}
                                        v{{ 'version'|suit_conf:request }}
                                    {% endif %}
                                {% endwith %}
                            {% endblock %}
                        </div>

                    </div>
                {% endblock %}
            </div>
        </footer>
    {% endif %}

{#    {{ block.super }}#}
    <script src="{% static "suit/js/suit.js" %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf:request %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% elif adminform %}
        <script type="text/javascript">

            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();

            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}

{#            {% if 'layout'|suit_conf:request.current_app == 'vertical' %}#}
{#                Suit.$('#content').prepend(Suit.$('.breadcrumbs'));#}
{#            {% endif %}#}
        </script>
    {% endif %}

{#    <div> <!-- Fix/close div previously closed by footer -->#}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>



<script type="text/javascript">
$(document).ready(function(){
     $('.suit-nav-right').append('<li class=" active has-children"><a href="#" class="button_tray" id="verDocumentos">Documentos</a></li>');
      $('.suit-nav-right').append('<li class=" active has-children"><a href="#" class="button_tray" id="verBandeja" ><div class="numberCircle"><span id="cantidad">0</span></div>Comunicaciones</a></li>');
          
    var is_blinking = false;
    $('#verBandeja').click(function(e){
        e.preventDefault();
        $('#notificationsTray').css('display', 'block');
        $('#verBandeja').removeClass('blink_me');
        is_blinking = false;
    });

    $('#verDocumentos').click(function(e){
        e.preventDefault();
        $('#documentosTray').css('display', 'block');
    });

    var ultimaFecha = "", fechaInicial = "";
    

        $.getJSON("{% url 'enviar-documentos' %}", function(json){
            if (json != null && json != undefined && json != ""){
                $('#documentos_tray').empty();
                $.each(json, function(key, value){
                      var  html='<div class="comments-list">'
                        html+='<div class="media">'
                        html+='<p class="pull-right"><small>'+value.fecha+'</small></p>'
                        html+='<div class="media-body">'
                        html+='<h4 class="media-heading user_name"><a id="link_" href="'+value.url+'" >Descargar</a></h4>'
                        html+=''+value.des+''
                        html+='</div>'
                        html+='</div>'
                        html+='<hr></div>';

                    ultimaFecha = ""+value.pk;

                    $('#documentos_tray').append(html);
                });

            }


        });






    setInterval(function(){
        $.getJSON("{% url 'enivar-notificaciones' %}", function(json){
            if (json != null && json != undefined && json != ""){
                $('#notificaciones_tray').empty();
                $.each(json, function(key, value){
                      var  html='<div class="comments-list" id="mensaje_'+value.pk+'">'
                        html+='<div class="media">'
                        html+='<p class="pull-right"><small>'+value.fecha+'</small></p>'
                        html+='<div class="media-body">'
                        html+='<h4 class="media-heading user_name">'+value.de+'</h4>'
                        html+=''+value.mensaje+''
                        html+='<p><small><a href="#" class="ver_notif" onclick="return check('+value.pk+')">Quitar de la lista</a></small></p>'
                        html+='</div>'
                        html+='</div>'
                        html+='<hr></div>';

                    ultimaFecha = ""+value.pk;

                    $('#notificaciones_tray').append(html);
                });
                $('#cantidad').html(json.length);
                if(json.length >0){
                    is_blinking = false;
                }else{
                    is_blinking = true;
                }
                
            }else{
                is_blinking = true;
            }

            if(fechaInicial != ultimaFecha && is_blinking == false){
                $('#verBandeja').addClass('blink_me');
                fechaInicial = ultimaFecha;
                is_blinking = true;
            }
        });

        

    }, 5000);

    if($('body').hasClass('login') || $('body').hasClass('popup')){
        $('#verBandeja').css( 'display','none');
    }else{
        $('#verBandeja').css( 'display','block');
    }

});

function cerrarTray(){
    $('#notificationsTray').css('display', 'none');
}
function cerrarTray2(){
    $('#documentosTray').css('display', 'none');
}

function check(pk_noti){

    $.post("{% url 'actualizar_noti' %}", {'pk':pk_noti}, function(json){
        $('#mensaje_'+pk_noti).css('display','none');
});
}
</script>
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script>
    
    

{% endblock %}

{% endblock %}




