{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-clockpicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/wizard-widget.css' %}">
<link rel="stylesheet" href="{% static 'css/exportar_tabla.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla_formatos.css' %}">
<link rel="stylesheet" href="{% static 'multi-select/multiple-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
<style type="text/css">
  #input_mapa {
    width: 100%;
    height: 300px;
  }
  .highcharts-contextmenu > div > hr{
    display: none;
  }
  @page { margin: 2cm } 

  @page :left {
    margin-left: 3cm;
    margin-right: 2cm;
  }
  @page :right {
    margin-left: 2cm;
    margin-right: 3cm;

  }


  @media print .enca {
    background-color: red;
    display: block !important;
        }

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $DarkBrown;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:$DarkBrown;
}

input[type="radio"]:checked + label span{
     background-color:$Orange;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}


</style>
{% endblock extra_css %}

{% block content %}

<!-- Modal -->
<div class="container">
  <form id="filrar">
    <div class="row" id="primera_parte">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="dept" class="control-label">Filtrar por departamento</label>
          <select class="form-control" name="dept" id="departamento" required>
            <option value="all">Seleccione el Departamento</option>
            <option disabled>---------------------</option>
            {% for dep in departamentos %}
            <option value="{{ dep.pk }}">{{ dep.A_nombre }}</option>
            {% endfor %}
            <option value="all">Todos</option>
          </select>
        </div>
        <a id="siguiente" href="#" class="btn btn-info ">Siguiente</a>
      </div>
    </div>
    <div id="segunda_parte" style="display: none">
      <div class="row" id = "control_filtro">
        <div class="col-sm-4">
          <h5>Tipo de periodo</h5> 
          <div id = "control_filtros">
            <input type="radio" name="q1" value="" id="sm" checked=""> Filtrar por Nº semana<br>
            <input type="radio" name="q1" value=""  id= "tr"> Filrar por trimestre<br>
            <input type="radio" name="q1" value=""  id= "ms"> Filrar por mes<br>
            <input type="radio" name="q1" value=""  id= "an"> Filrar por año<br>


          </div>
        </div>   

          <div class="col-sm-4">
            <h5>Seleccionar informes</h5> 
            <select name="tipo_informe" id="tipo_informe" class="form-control" >
              <option disabled>Seleccione el tipo</option>
              <option disabled>------------------------</option>
              <option value="ES">Por estado del proyecto</option>
              <option value="CV">Por Convocatoria</option>
              <option value="RH">Por recuros humano</option>
              <option value="IE">Cantidad de instituciones educativas involucradas</option>

              <option value="GR" selected="">General</option>
            </select>
          </div>
        </div>


        <hr>


<div class="form-group " style="display:inline-block;" id="slect_semana">
  <label>Filtrar por Nº Semana</label>
  <select  name="semana" class="form-control" id="semana">
    <option value="0-6">1</option>
    <option value="7-13">2</option>
    <option value="14-20">3</option>
    <option value="21-27">4</option>
    <option value="28-34">5</option>
    <option value="35-41">6</option>
    <option value="42-48">7</option>
    <option value="49-55">8</option>
    <option value="56-62">9</option>
    <option value="63-69">10</option>
    <option value="70-76">11</option>
    <option value="77-83">12</option>
    <option value="84-90">13</option>
    <option value="91-97">14</option>
    <option value="98-104">15</option>
    <option value="105-111">16</option>
    <option value="112-118">17</option>
    <option value="119-125">18</option>
    <option value="126-132">19</option>
    <option value="133-139">20</option>
    <option value="140-146">21</option>
    <option value="147-153">22</option>
    <option value="154-160">23</option>
    <option value="161-167">24</option>
    <option value="168-174">25</option>
    <option value="175-181">26</option>
    <option value="182-188">27</option>
    <option value="189-195">28</option>
    <option value="196-202">29</option>
    <option value="203-209">30</option>
    <option value="210-216">31</option>
    <option value="217-223">32</option>
    <option value="224-230">33</option>
    <option value="231-237">34</option>
    <option value="238-244">35</option>
    <option value="245-251">36</option>
    <option value="252-258">37</option>
    <option value="259-265">38</option>
    <option value="266-272">39</option>
    <option value="273-279">40</option>
    <option value="280-286">41</option>
    <option value="287-293">42</option>
    <option value="294-300">43</option>
    <option value="301-307">44</option>
    <option value="308-314">45</option>
    <option value="315-321">46</option>
    <option value="322-328">47</option>
    <option value="329-335">48</option>
    <option value="336-342">49</option>
    <option value="343-349">50</option>
    <option value="350-356">51</option>
    <option value="357-363">52</option>


  </select>
</div>
<div class="form-group " style="display: none;" id="slect_trimeste">
  <label>Filtrar por Trimestres</label>
  <select  name="trimestre" class="form-control" id="trimestre">
    <option value="1,2,3">Trimestre 1</option>
    <option value="4,5,6">Trimestre 2</option>
    <option value="7,8,9">Trimestre 3</option>
    <option value="10,11,12">Trimestre 4</option>
  </select>
</div>

<div class="form-group " style="display: none;" id="slect_meses">
  <label>Filtrar por mes</label>
  <select  name="meses" class="form-control" id="meses">
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
  </select>
</div>





<div class="form-group " style="display: inline-block;">
  <label id ="tit_anio">Año #1 </label>
  <select  name="f_inicial" class="form-control" id="f_inicial" required="true">
    <option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option><option value="2040">2040</option><option value="2041">2041</option><option value="2042">2042</option><option value="2043">2043</option><option value="2044">2044</option><option value="2045">2045</option><option value="2046">2046</option><option value="2047">2047</option><option value="2048">2048</option><option value="2049">2049</option><option value="2050">2050</option><option value="2051">2051</option><option value="2052">2052</option><option value="2053">2053</option><option value="2054">2054</option><option value="2055">2055</option><option value="2056">2056</option><option value="2057">2057</option><option value="2058">2058</option><option value="2059">2059</option><option value="2060">2060</option><option value="2061">2061</option><option value="2062">2062</option><option value="2063">2063</option><option value="2064">2064</option><option value="2065">2065</option><option value="2066">2066</option><option value="2067">2067</option><option value="2068">2068</option><option value="2069">2069</option><option value="2070">2070</option><option value="2071">2071</option><option value="2072">2072</option><option value="2073">2073</option><option value="2074">2074</option><option value="2075">2075</option><option value="2076">2076</option><option value="2077">2077</option><option value="2078">2078</option><option value="2079">2079</option><option value="2080">2080</option><option value="2081">2081</option><option value="2082">2082</option><option value="2083">2083</option><option value="2084">2084</option><option value="2085">2085</option><option value="2086">2086</option><option value="2087">2087</option><option value="2088">2088</option><option value="2089">2089</option><option value="2090">2090</option><option value="2091">2091</option><option value="2092">2092</option><option value="2093">2093</option><option value="2094">2094</option><option value="2095">2095</option><option value="2096">2096</option><option value="2097">2097</option><option value="2098">2098</option><option value="2099">2099</option><option value="2100">2100</option>

  </select>
</div>

<div class="form-group " style="display: inline-block;" id="select_tipo_gra">
  <label>Tipo de Gráfico</label>
    <select name="tipo_grafica" id="tipo_grafica" class="form-control" >
      <option disabled>Seleccione el tipo</option>
      <option disabled>------------------------</option>
      <option value="column" selected="">Gráfico de columna</option>
      <option value="area">Gráfico de área</option>
      <option value="bar">Gráfico de barra</option>
    </select>
</div>
<div style="display: inline-block;"><button type="submit" class="btn btn-info next-step">Filtrar</button></div>


</div>
</form>
<hr>
<a style="display: inline-block;margin: 5px" download="Archivo.xls" href="#"  class="addlink" onclick="return ExcellentExport.excel(this, 'result_list', 'Reporte');"><span class="icon-data"></span> Exportar a excel</a>


<div id="reporte">
<div class="enca" style="display: none">HOLA</div>
  <div id="containerMap" style="min-width: 310px; max-width: 800px; margin: 0 auto">  </div>  
  <hr>
  <div style="overflow: auto;" class="content">
    <div class="contenedor_tabla" id="imprimir_tabla">
      <div id="contenedor_tabla" style="width:100%;" class="result"> 
        <table cellpadding="3" cellspacing="3" class="table table-bordered" id ="result_list">
          <tr style=" background-color: #fff">
            <td style="border: none; background-color: none">
              <div class="alert alert-danger" >
                <strong>-</strong>
              </div>
            </td>
            <tr>
            </table>
          </div>
        </div>
      </div>


    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sin datos</h4>
          </div>
          <div class="modal-body">
            <p id = "texto">Sin información para mostrar</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}



{% block extrajs %}
<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/excellexport.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script src="{% static 'js/modules/exporting.js' %}"></script>
  <script src="{% static 'multi-select/multiple-select.js' %}"></script>

  <script> 
    ;

    $(function () { 
      var localizacion ="";
      var titulo_t_informe ="";
      var titulo_av ="";
      var nombre_serie = "";

      var can_filtros=1;
      $('#sm').change(function() {
        if ($('#sm').is(':checked')) {
          $("#slect_semana").css("display","inline-block");
          $("#slect_trimeste").css("display","none");
          $("#slect_meses").css("display","none");
        }else{
          $("#slect_semana").css("display","inline-block");
        }

      });

      $('#an').change(function() {
        if ($('#an').is(':checked')) {
          $("#slect_semana").css("display","none");
          $("#slect_trimeste").css("display","none");
          $("#slect_meses").css("display","none");
        }

      });



      $('#agresores').change(function() {
        if ($('#agresores').is(':checked')) {
          $("#srpa_div").css("display","inline-block");
        }else{
          $("#srpa_div").css("display","none");
        }
      });

      $('#victimas').change(function() {
        if ($('#victimas').is(':checked')) {
          $("#srpa_div").css("display","none");
        }
      });



      $('#tr').change(function() {
        if ($('#tr').is(':checked')) {
          $("#slect_trimeste").css("display","inline-block");
          $("#slect_semana").css("display","none");
          $("#slect_meses").css("display","none");
        }else{
          $("#slect_trimeste").css("display","inline-block");

        }
      });     
      $('#ms').change(function() {
        if ($('#ms').is(':checked')) {
          $("#slect_meses").css("display","inline-block");
          $("#slect_trimeste").css("display","none");
          $("#slect_semana").css("display","none");
        }else{
          $("#slect_meses").css("display","inline-block");
        }
      });

      $("#siguiente").click(function(){
        $("#primera_parte").css("display","none");
        $("#segunda_parte").css("display","block");
        var localizacion_tem = "";
        if ($("#departamento").val()!="all"){
          localizacion_tem ="en " + $('#departamento').find(":selected").text();

          localizacion_tem=localizacion_tem.toUpperCase();
          if (localizacion_tem!=""){
            localizacion = localizacion_tem;
          }
          $('#titulo').html("REPORTE "+localizacion_tem);
          }
        });

      $('#filrar').submit(function(e){
        var fechas = "";
        var titulo_se ="";
        var contenido_nuevo ="";

        e.preventDefault();
        var trimestre = $('#trimestre').val();
        var semana = $('#semana').val();
        var mes = $('#meses').val();
        var anio1 = $('#f_inicial').val();
        var municipio = "";

        var departamento = $("#departamento").val();



        var tipo_informe = $("#tipo_informe").val();
        titulo_t_informe = $('#tipo_informe').find(":selected").text().toUpperCase();
         if (tipo_informe == "ES"){
          nombre_serie ="PROYECTOS";
         }else if (tipo_informe == "ES"){
          nombre_serie ="PROYECTOS";
         }else if (tipo_informe == "CV"){
          nombre_serie ="PROYECTOS";
         }else if (tipo_informe == "RH"){
          nombre_serie ="UNIDAD";
         }else if (tipo_informe == "IE"){
          nombre_serie ="INSTITUCIONES EDUCATIVAS";
         }else{
          nombre_serie ="PROYECTOS"
         }

        if ($('#sm').is(':checked')) {
          trimestre = "";
          mes="";
          fechas += "Semana "+$('#semana').find(":selected").text()+" ";
          titulo_se = "POR N° DE SEMANA";
        }




        if ($('#tr').is(':checked')) {
          semana = "";
          mes ="";
          fechas += $('#trimestre').find(":selected").text()+" ";
          titulo_se = "POR TRIMESTRE";
        }

        if ($('#ms').is(':checked')) {
          semana = "";
          trimestre ="";
          fechas += $('#meses').find(":selected").text()+" ";
          titulo_se = "POR MES";
        }

        if ($('#an').is(':checked')) {
          semana = "";
          trimestre ="";
          mes ="";
          titulo_se = "POR AÑO";
        } 

        fechas += $('#f_inicial').val();

        if($('#f_inicial').val()!="" && $('#f_inicial').val()!=undefined && $('#f_inicial').val()!=null){
          if (tipo_informe!="GR"){
            titulo =titulo_t_informe+titulo_av+localizacion+" " + titulo_se;
          }else{
            titulo =titulo_av+localizacion+" " + titulo_se;
          }


          titulo=titulo.toUpperCase()

          titulo_2=fechas.toUpperCase()
          try{
            if (chart){
            }
          }catch(e){
            $('#titulo').html(titulo);
            $('#result_list').html('<div  style="text-align: center;" ><img src="{% static "img/gears.svg" %}"></div>');

          }


          var tipo_metodo = $('#tipo_metodo').val();
          $.post("{% url 'get-casos-general' %}", {'semana':semana,'trimestre':trimestre,'anio1':anio1,'mes':mes,'departamento':departamento,'tipo_informe':tipo_informe}, function(json){

            var total_def=0;
            var cuerpo ="";
            var array_series = [], array_cantidad_mujer = [], array_cantidad_hombre = [], array_cantidad_total = [], array_ids=[],array_row=[];

            if(json != null && json != undefined && json != ""){
              $("#control_filtro").css("display","none");
              $("#select_tipo_gra").css("display","none");
              
              can_filtros ++;
              $("#tit_anio").html("Año #"+can_filtros);

                cuerpo='<tr id="titulo_p"><th colspan="3" class="text" style="text-align: center" >'+titulo+'</th> </tr><tr id="str_titulo_1" ><th colspan="3" class="text" style="text-align: center">'+titulo_2+'</th></tr>\
                <tr id="str_titulo_2">\
                  <th scope="col">'+titulo_t_informe+'</th>\
                  <th class="text" style="text-align: center">%</th>\
                  <th class="text" style="text-align: center">TOTAL</th>\
                </tr>';
                $.each(json, function(key, item){
                  total_def += item.total;
                });

                json.push({"total": total_def, "atr_serie": "TOTAL", "cant_mujer": "NAN", "cant_hombre": "NAN"});
                $.each(json, function(key, item){
                  total_tem_por=0;
                  if((parseFloat((item.total/total_def)*100)+"")!= "NaN"){
                    total_tem_por= (item.total/total_def)*100;
                  }

                  contenido_nuevo = '<td>'+item.total+'</td>\
                  <td>'+total_tem_por.toFixed(2)+'%</td>';
                  cuerpo+='<tr id="row_'+key+'">\
                  <td>'+item.atr_serie+'</td>'+contenido_nuevo+'</tr>';
                  if (item.atr_serie!="TOTAL"){
                    array_series.push(item.atr_serie);
                    array_cantidad_total.push(item.total);
                  }
                  array_row.push(contenido_nuevo);
                  array_ids.push("row_"+key);
                });

             
            }else{


            }

            try{
              if (chart){
                if (array_cantidad_total!=null && array_cantidad_total!=undefined && array_cantidad_total!=""){
                    $('#titulo_p').html('<th colspan="'+(4+(2*can_filtros))+'">'+titulo+'</th>');
                    $('#str_titulo_1').append('<th colspan="2">'+titulo_2+'</th>');
                    $('#str_titulo_2').append('<th>TOTAL</th><th>%</th>');
                    $.each(array_ids, function(key, item){
                      $('#'+item).append(array_row[key]);
                    });
                  

                }
              }
            }catch(e){
              console.log("Eroror nuevo");
              if (array_series!=null && array_series!=undefined && array_series!="")
                chart = createChart(array_series,titulo.toUpperCase(),nombre_serie);
              $('#result_list').html(cuerpo);
            }
            fechas = fechas.toUpperCase();

              if (array_cantidad_total!=null && array_cantidad_total!=undefined && array_cantidad_total!=""){
                chart.addSeries({
                  name: nombre_serie+" "+fechas,
                  data: array_cantidad_total
                }); 
                chart.reflow();
              }else{
                $('#myModal').modal('show');
              }
            


            

          });
}
});
});

function createChart(arr_casosos,titulo,nombre_serie){
  var chart = new Highcharts.Chart({
    chart: {
      renderTo: 'containerMap',
      type: $("#tipo_grafica").val(),
    },
    title: {
      text: titulo,
x: -20 //center
},
subtitle: {
  text: '',
  x: -20
},
xAxis: {
  categories: arr_casosos
},
yAxis: {
  min: 0,
  title: {
    text: 'Cantidad',
    align: 'high'
  },
  labels: {
    overflow: 'justify'
  }
},
tooltip: {
  valueSuffix: nombre_serie,
},
plotOptions: {
  bar: {
    dataLabels: {
      enabled: true
    }
  }
},
credits: {
  enabled: false
},

});

  return chart;
}
var f1;
var f2;
function validar_fecha(){
  var fecha2 = $('#f_final').val();
  var fecha1 = $('#f_inicial').val();
  f2=fecha2;
  f1=fecha1;
  if (Date.parse(fecha1) > Date.parse(fecha2)){
    $('#texto').html('La fecha inicial es mayor que la final');
    $('#myModal').modal('show');
    return false;
  }
  return true;
}
function imprimir(){
  $("#reporte").printThis({
    importCSS: true,    
    importStyle: true,         
    printContainer: true,  
    pageTitle: titulo,         
    removeInline: false,
    header: $("#header_logo"),
  });
}
</script> 
{% endblock %}





