{% extends "admin/base_site.html" %}

{% load staticfiles %}

{% block title %}
    Inicio
{% endblock title %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static "iconos.css" %}" />
<link href="{% static "feed/css/FeedEk.css" %} rel="stylesheet" type="text/css" />


<style type="text/css">
ul{
  margin-left: 150px;
}

li { display: inline-block; }
 .iconos{
  width: 100px;
  height: 100px;
  display: inline-block; 
}
.detalle{
  margin-left: 100px;
  margin-bottom: 500px;
  width: 100px;
  height: 100px;

}
.convocatorias{
    text-align: center;
  }
  .estadisticas{
    text-align: center;
  }
  .proyectos{
    text-align: center;
  }
  .red{
    text-align: center;
  }
  .sugerencia{
    text-align: center;
  }
  .encuesta{
    text-align: center;
  }
  .imagenProfesores{
    width: 700px;
    height: 170px;
  }
  #cuerpo{ 
    margin: 10 0 10 0px; 
} 
#lateral{ 
    width: 160px; 
    background-color: #999999; 
    float:right; 
} 
.izquierda{
  height:50%;
  float:left;
  width:50%;
}

.derecha{

  height:50%;
  float:right;
  width:50%;
}
.card-text img {
    max-width: 50%
}
.card-title a {
    color: #007ee5 !important;
}
.card-block p a {
    color: #007ee5 !important;
    margin : 0 0 0 0px; 
    padding: 0 0 0 0px; 
    list-style: none; 
}

.text-muted, fieldset > .description, fieldset .text-help, .timezonewarning {
    color: #76b4f7 !important;
}

</style>
{% endblock %}

{% block content %}


<div class="row">
{% if request.user.groups.all.0.name == "POSTULANTE" %}
      <div class="col-xs-12 col-md-12" style="text-align: center;margin: 0 auto; margin-bottom: 10px;">
        <img src="{% static 'imagenes/profesor.png' %}" class="imagenProfesores">
      </div>
  {% endif %}

  {% if request.user.groups.all.0.name == "ALIADOS" %}
      <div class="col-xs-12 col-md-12" style="text-align: center;margin: 0 auto; margin-bottom: 10px;">
        <img src="{% static 'imagenes/aliado.png' %}" class="imagenProfesores">
      </div>
  {% endif %}

  {% if request.user.groups.all.0.name == "APORTANTE" %}
    <div class="col-xs-12 col-md-12" style="text-align: center;margin: 0 auto; margin-bottom: 10px;">
        <img src="{% static 'imagenes/aportante.png' %}" class="imagenProfesores">
      </div>
  {% endif %}

  {% if request.user.groups.all.0.name == "VOLUNTARIO" %}
    <div class="col-xs-12 col-md-12" style="text-align: center;margin: 0 auto; margin-bottom: 10px;">
        <img src="{% static 'imagenes/voluntario.png' %}" class="imagenProfesores">
      </div>
  {% endif %}

  {% if request.user.is_superuser %}
      <div class="col-xs-12 col-md-12" style="text-align: center;margin: 0 auto; margin-bottom: 10px;">
        <img src="{% static 'imagenes/admin.png' %}" class="imagenProfesores">
      </div>
  {% endif %}
    
  <div class="col-xs-12 col-md-12" >
       <nav>
            <ul class="nav" >
            {% if request.user.groups.all.0.name == "POSTULANTE" %}
            <li class="convocatorias"><a href="/admin/Proyectos/convocatoria/"></a>Convocatorias</li>
            <li class="estadisticas"><a href="/admin/Proyectos/propuesta/"></a>Proyectos</li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="convocatorias"><a href="/admin/Proyectos/convocatoria/"></a>Convocatorias</li>
            <li class="proyectos"><a href="/admin/Proyectos/propuesta/"></a>Proyectos</li>
            <li class="estadisticas"><a href="/admin/estadisticas/"></a>Estadisticas</li>
            {% endif %}

            {% if request.user.groups.all.0.name == "ALIADOS" %}
            <li class="estadisticas"><a href="/admin/Proyectos/propuesta/"></a>Proyectos</li>
            {% endif %}

            {% if request.user.groups.all.0.name == "APORTANTE" %}
            <li class="estadisticas"><a href="/admin/Proyectos/propuesta/"></a>Proyectos</li>
            <li class="proyectos"><a href="/admin/convocatoria/"></a>Interes en otra convocatoria</li>
            {% endif %}

            {% if request.user.groups.all.0.name == "VOLUNTARIO" %}
            <li class="estadisticas"><a href="/admin/Proyectos/propuesta/"></a>Proyectos</li>
            <li class="proyectos"><a href="/admin/convocatoria/"></a>Interes en otra convocatoria</li>
            {% endif %}

          </ul>

        </nav>
        
      
<br>
<br>
<hr>

  </div>


  <div class="izquierda" style="margin: 0 auto; margin-top: 40px;">
      
        <iframe width="600" height="315" style="margin-left: 40px;" src="https://www.youtube.com/embed/FrzA3Mx9TGs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
        <br>
        <div style="margin-left: 70px;">
          <a href="https://www.facebook.com/pg/adiuvocolombia/about/?ref=page_internal" target="_blank"><img class="iconos" src="{%static 'imagenes/facebook.png' %}"></a>
          <a href="https://www.instagram.com/adiuvocolombia/?hl=es-la" ><img class="iconos"  src="{%static 'imagenes/instagram.png' %}"></a>
          <a href="https://twitter.com/adiuvocolombia" target="_blank"><img class="iconos"  src="{%static 'imagenes/twitter.png' %}"></a>
          <a href="https://www.youtube.com/channel/UCMKy6CMuUgEZkaG0PmJyY8g" target="_blank"><img class="iconos"  src="{%static 'imagenes/youtube.png' %}"></a>
          
        </div>
</div>
        
      <div class="derecha" style=" margin: 0 auto;">
          <ul #ul>
          
            <li class="encuesta"><a href="/admin/sugerencias"><img style="width: 200px;" src="{% static 'imagenes/sugerencias.png' %}"></a></li>
            <li class="sugerencia"> <a href="/admin/encuesta"><img style="width: 200px;" src="{% static 'encuestas.png' %}"></a></li>
         
          </ul>
      </div>

       

      


  <div class="col-xs-12 col-md-12">
    <div class="card-block" style="text-align: center; margin: 0 auto">
    <h1><img style="width: 100px;" src="{% static 'imagenes/noticias.png' %}"></h1>
    <br>
    <hr>
    <div class="card-columns" style="text-align: center; margin: 0 auto"  id="noticias">
    </div>

    </div>
  </div>


</div>

{% endblock content %}


{% block extrajs %}


<script type="text/javascript" src="{% static "feed/js/FeedEk.js" %}"></script>


<script type="text/javascript">
      $(document).ready(function () {

        $('#noticias').FeedEk({
            FeedUrl: 'http://adiuvocolombia.tumblr.com/rss',
            MaxCount: 3,
            ShowDesc: true,
            ShowPubDate: true,
            DescCharacterLimit: 255
        });  
 });  


</script>


{% endblock extrajs %}