{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}

    <link href='{% static "css/login.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "suit/css/suit.css" %}' rel='stylesheet' type='text/css'>
    
  <style>
body{
  background-image: url({% static 'imagenes/fondo.svg' %}) !important;
  background-color: #fff;


}

      </style>

{% endblock %}
{% block content %}


<div class="container">
  <div class="info">
    <h1></h1>

  </div>
</div>
 <div class="thumbnail"><img src="{% static 'imagenes/logo.png' %}"/></div>
 
<div class="form">

 
          {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                {% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}


    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktrans trimmed %}
                    You are authenticated as {{ username }}, but are not authorized to
                    access this page. Would you like to login to a different account?
                {% endblocktrans %}
            </p>
        {% endif %}

        <form class="login-form" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="form-row{% if form.username.errors %} has-danger{% endif %}">
                <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}"
                       placeholder="{{ form.username.label }}" maxlength="254" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" class="form-control form-control-lg">
                {{ form.username.errors }}
            </div>
            <div class="form-row{% if form.password.errors %} has-danger{% endif %}">
                <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" class="form-control form-control-lg">
                {{ form.password.errors }}
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
            {% url 'password_reset' as password_reset_url %}
            {% if password_reset_url %}
                <div class="password-reset-link">
                    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                </div>
            {% endif %}
            <div class="submit-row">
                <label>&nbsp;</label><input class="btn" type="submit" value="{% trans 'Log in' %}"/>
            </div>
            <div class="submit-row">
            <hr>
                <p class="message">¿No estás registrado? <a href="{% url 'api-show-usuario' %}">Crear cuenta</a></p>
                
                

            </div>
        </form>

        <script type="text/javascript">
            if(!document.getElementById('id_username').value)
                document.getElementById('id_username').focus();
            else
                document.getElementById('id_password').focus();
        </script>
    </div>


</div>






{% endblock %}
