	{% load staticfiles %}
	<html>
	<head>
	  <title>Encuestas</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	</head>

	<body>


	<style type="text/css">

	  .btn.btn-info,.btn.btn-info:active,.btn.btn-info:focus,.btn.btn-info:hover,.btn.btn-success,.btn.btn-success:active,.btn.btn-success:focus,.btn.btn-success:hover{box-shadow:inherit!important}#menu_A_38,#menu_LI_37{perspective-origin:49.55px 18.72px}body{background-color:#fff!important}@font-face{font-family:MONTSERRAT;src:url("{% static 'css/Montserrat-Light.ttf' %}");src:local("{% static 'css/Montserrat-Light.ttf' %}"),url("{% static 'css/Montserrat-Light.woff' %}") format('woff'),url(gestareg-Montserrat-Light.woff2) format('woff2'),url("{% static 'css/Montserrat-Light.ttf' %}") format('ttf') url("{% static 'css/Montserrat-Light.eot' %}") format('eot')}.wizard-container{padding-top:10px!important}.modal{padding:10px!important;border-radius:3px!important;background-color:inherit;max-width:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;width:inherit!important;top:10px!important;-webkit-transform:inherit!important;-o-transform:inherit!important;-ms-transform:inherit!important;transform:inherit!important}#menu_A_18,#menu_IMG_19{perspective-origin:70px 30px;transform-origin:70px 30px}#menu_A_34,#menu_LI_33{perspective-origin:36.52px 18.72px;transform-origin:36.52px 18.72px}#menu_A_36,#menu_LI_35{transform-origin:62.67px 18.72px}.wizard-card .picture{width:180px!important;height:inherit!important;color:#FFF!important;border-radius:10%!important;margin:5px auto;overflow:hidden!important;transition:all .2s!important;-webkit-transition:all .2s!important}.container,.table{width:100%!important}.image-container:before{background:#fff!important;opacity:.9!important}.wizard-card[data-color=blue] .moving-tab{background-color:#76B4FA!important;box-shadow:inherit!important}.btn.btn-info,.btn.btn-info.active,.btn.btn-info.active:focus,.btn.btn-info.active:hover,.btn.btn-info:active,.btn.btn-info:active:focus,.btn.btn-info:active:hover,.btn.btn-info:focus,.btn.btn-info:hover,.open>.btn.btn-info.dropdown-toggle,.open>.btn.btn-info.dropdown-toggle:focus,.open>.btn.btn-info.dropdown-toggle:hover{background-color:#76B4FA!important;color:#FFF!important}.input_modal,.wizard-card[data-color=blue] .form-group .form-control{background-image:linear-gradient(#76B4FA,#76B4FA),linear-gradient(#D2D2D2,#D2D2D2)!important}.picture:hover{border-color:#76b4f7!important}.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff!important;background-color:#ec8d6c!important;border-color:#ec8d6c!important}.btn.btn-success,.btn.btn-success.active,.btn.btn-success.active:focus,.btn.btn-success.active:hover,.btn.btn-success:active,.btn.btn-success:active:focus,.btn.btn-success:active:hover,.btn.btn-success:focus,.btn.btn-success:hover,.open>.btn.btn-success.dropdown-toggle,.open>.btn.btn-success.dropdown-toggle:focus,.open>.btn.btn-success.dropdown-toggle:hover{background-color:#ec8d6c!important;color:#FFF!important}.btn-success{color:#fff!important;background-color:#ec8d6c!important;border-color:#ff9800!important}#menu_A_54,#menu_A_56,#menu_DIV_31{background:#76b4f7}.quiar_margin{border:none;border-radius:3px;position:relative;padding:10px 30px;font-size:12px;font-weight:400;text-transform:uppercase;letter-spacing:0;will-change:box-shadow,transform;transition:box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1)}.table{max-width:100%!important;border:1.5px solid #ddd!important;border-radius:10px!important}#menu_A_34,#menu_A_38,#menu_A_43,#menu_A_49,#menu_A_54,#menu_A_56{border-top:0 none #fff;border-bottom:0 none #fff}#menu_DIV_1,#menu_DIV_2{color:#373a3c;text-decoration:none solid #373a3c;caret-color:#373a3c;border:0 #373a3c;outline:#373a3c 0}th{text-align:left;background-color:#f4f4f4}.wizard-card{min-height:initial!important;box-shadow:initial!important}#menu_DIV_2,#menu_DIV_20,#menu_DIV_31,#menu_DIV_59{min-height:auto;align-self:center}#menu_UL_39,#menu_UL_44,#menu_UL_50{box-shadow:rgba(0,0,0,.07) 0 -1px 2px 0;display:none;position:absolute;z-index:1000}#menu_A_36,#menu_A_54,#menu_A_56{bottom:0;box-shadow:#279bee 0 3px 0 0 inset;left:0;right:0;top:0;border-left:1px solid #76b4f7}.ocultar{display:none}#menu_DIV_12:after,#menu_DIV_15:after,#menu_DIV_5:after,#menu_DIV_8:after{clear:both;content:'""';display:table;height:auto;width:auto}.wizard-card .info-text{text-align:center;font-weight:300;margin:10px 0 0!important}#menu_A_34,#menu_A_36,#menu_A_38,#menu_A_41,#menu_A_46,#menu_A_49,#menu_A_52,#menu_A_54,#menu_A_56,#menu_A_62,#menu_DIV_57,#menu_UL_39,#menu_UL_44,#menu_UL_50{text-align:left}#menu_DIV_1,#menu_DIV_10,#menu_DIV_11,#menu_DIV_12,#menu_DIV_12:after,#menu_DIV_2,#menu_DIV_3,#menu_DIV_4,#menu_DIV_5,#menu_DIV_5:after{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%}#menu_UL_32,#menu_UL_47{margin:0 26.25px;padding:0}#menu_DIV_1{display:flex;width:100%;column-rule-color:#373a3c;align-content:center;align-items:center;justify-content:flex-start;perspective-origin:640.5px 85.5px;transform-origin:640.5px 85.5px;background:url("{% static 'css/fondo_2.svg' %}") repeat-x #fff;flex-flow:row wrap;padding:14.58px 0 0}#menu_DIV_2{height:60px;min-width:200px;¡
	    column-rule-color:#373a3c;perspective-origin:144px 30px;transform-origin:144px 30px;flex:0 1 288px;padding:0 0 0 26.25px}#menu_DIV_10,#menu_DIV_3{box-shadow:#888 2px 2px 6px 0;display:none;height:auto;position:absolute;right:10px;top:10%;z-index:9999;perspective-origin:50% 50%;transform-origin:50% 50%;background:#fff;border-radius:5px}#menu_A_14,#menu_A_18,#menu_A_7,#menu_B_13,#menu_B_6,#menu_DIV_12:after,#menu_DIV_5:after,#menu_IMG_19{border:0 #fff;color:#fff;text-decoration:none solid #fff;column-rule-color:#fff;caret-color:#fff;outline:#fff 0}#menu_A_25,#menu_A_27{color:#5c5f6f;height:28px;text-decoration:none solid #5c5f6f;column-rule-color:#5c5f6f;caret-color:#5c5f6f;border:0 #5c5f6f;outline:#5c5f6f 0;padding:5px;display:inline-block;touch-action:manipulation}#menu_DIV_31,#menu_H1_17,#menu_LI_33,#menu_LI_35,#menu_LI_37,#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30,#menu_UL_32{color:#373a3c;text-decoration:none solid #373a3c;column-rule-color:#373a3c;caret-color:#373a3c;border:0 #373a3c;outline:#373a3c 0}#menu_DIV_11,#menu_DIV_4{box-shadow:#e4e4e4 0 1px 0 0;height:auto;position:relative;width:auto;perspective-origin:50% 50%;transform-origin:50% 50%;background:#fff;margin:0 0 10.5px}#menu_DIV_12,#menu_DIV_5{color:#fff;height:auto;text-decoration:none solid #fff;width:auto;column-rule-color:#fff;perspective-origin:50% 50%;transform-origin:50% 50%;caret-color:#fff;background:#007ee5;border-top:0 none #fff;border-right:0 none #fff;border-bottom:1px solid transparent;border-left:0 none #fff;outline:#fff 0;padding:10.5px 17.5px}#menu_DIV_12:after,#menu_DIV_5:after{perspective-origin:50% 50%;transform-origin:50% 50%}#menu_B_13,#menu_B_6{box-sizing:border-box;text-size-adjust:100%;perspective-origin:50% 50%;transform-origin:50% 50%;font:normal normal bold normal 12.6px/18.9px MONTSERRAT}#menu_A_14,#menu_A_7,#menu_DIV_15,#menu_DIV_15:after,#menu_DIV_8,#menu_DIV_8:after,#menu_P_16,#menu_P_9{box-sizing:border-box;text-size-adjust:100%;perspective-origin:50% 50%;transform-origin:50% 50%;font:normal normal normal normal 12.6px/18.9px MONTSERRAT}#menu_A_14,#menu_A_7{display:block;float:right;touch-action:manipulation}#menu_DIV_15,#menu_DIV_8{height:auto;width:auto;padding:17.5px}#menu_P_16,#menu_P_9{height:auto;width:auto;margin:0 0 14px}#menu_A_18,#menu_H1_17,#menu_IMG_19{box-sizing:border-box;text-size-adjust:100%;font:normal normal normal normal 24px/26.4px MONTSERRAT}#menu_H1_17{height:60px;perspective-origin:130.88px 30px;transform-origin:130.88px 30px;margin:0}#menu_A_18{display:inline-block;touch-action:manipulation;width:80%}#menu_IMG_19{display:inline-block;height:60px;vertical-align:middle}#menu_DIV_20,#menu_SPAN_21{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%;color:#5c5f70;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0;text-align:right}#menu_DIV_20{height:28px;min-width:auto;perspective-origin:496.5px 14px;transform-origin:496.5px 14px;flex:2 1 288px;padding:0 26.25px}#menu_SPAN_21{display:inline-block;height:18px;perspective-origin:53.89px 9px;transform-origin:53.89px 9px}#menu_STRONG_22{box-sizing:border-box;color:#5c5f70;text-align:right;text-decoration:none solid #5c5f70;text-size-adjust:100%;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;font:normal normal 300 normal 12.6px/18.9px MONTSERRAT;outline:#5c5f70 0}#menu_A_25,#menu_A_27,#menu_DIV_23,#menu_DIV_31,#menu_LI_33,#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30,#menu_SPAN_24,#menu_SPAN_26,#menu_UL_32{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%}#menu_DIV_23{color:#5c5f70;display:inline-block;height:28px;text-align:right;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;perspective-origin:143.59px 14px;transform-origin:143.59px 14px;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0}#menu_SPAN_24,#menu_SPAN_26{color:#5c5f70;text-align:right;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0}#menu_A_25{text-align:right;perspective-origin:67.44px 14px;transform-origin:67.44px 14px;margin:0 2px 0 20px}#menu_A_27{text-align:right;perspective-origin:53.48px 14px;transform-origin:53.48px 14px;margin:0 2px}#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30{min-height:auto;min-width:auto;align-self:center}#menu_DIV_31{height:38.44px;min-width:auto;perspective-origin:640.5px 19.22px;transform-origin:640.5px 19.22px;flex:0 1 100%;margin:14.58px 0 0}#menu_UL_32{perspective-origin:614.25px 0;transform-origin:614.25px 0;list-style:none}#menu_LI_33{bottom:0;display:block;float:left;height:37.44px;left:0;position:relative;right:0;top:0;list-style:none}#menu_A_34{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_35{bottom:0;box-sizing:border-box;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-size-adjust:100%;top:0;perspective-origin:62.67px 18.72px;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none}#menu_A_36{box-sizing:border-box;color:#3c3a37;display:block;height:37.44px;position:relative;text-decoration:none solid #3c3a37;text-size-adjust:100%;touch-action:manipulation;width:125.34px;column-rule-color:#3c3a37;perspective-origin:62.67px 18.72px;caret-color:#3c3a37;background:#fff;border-top:0 none #3c3a37;border-right:1px solid #007ee5;border-bottom:0 none #3c3a37;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#3c3a37 0;padding:9.72px 18.75px}#menu_LI_37{bottom:0;box-sizing:border-box;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-size-adjust:100%;top:0;transform-origin:49.55px 18.72px;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none}#menu_A_38{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;transform-origin:49.55px 18.72px;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_40,#menu_LI_45,#menu_LI_51,#menu_UL_39,#menu_UL_44{font:normal normal normal normal 13.01px/19.51px MONTSERRAT;color:#373a3c;text-decoration:none solid #373a3c;column-rule-color:#373a3c;caret-color:#373a3c;border:0 #373a3c;list-style:none;outline:#373a3c 0;box-sizing:border-box;text-size-adjust:100%;height:auto;width:auto;perspective-origin:50% 50%;transform-origin:50% 50%}#menu_UL_39,#menu_UL_44{background:#383d4b;margin:0;padding:0}#menu_A_41,#menu_A_46,#menu_A_52{box-sizing:border-box;color:#fff;display:block;text-decoration:none solid #fff;text-size-adjust:100%;touch-action:manipulation;column-rule-color:#fff;perspective-origin:50% 50%;transform-origin:50% 50%;caret-color:#fff;border-top:0 none #fff;border-right:0 none #fff;border-bottom:1px solid #2d313d;border-left:0 none #fff;font:normal normal bold normal 13.01px/19.51px MONTSERRAT;list-style:none;outline:#fff 0;padding:7.29px 18.75px}#menu_LI_42{bottom:0;box-sizing:border-box;color:#373a3c;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #373a3c;text-size-adjust:100%;top:0;column-rule-color:#373a3c;perspective-origin:83.95px 18.72px;transform-origin:83.95px 18.72px;caret-color:#373a3c;border:0 #373a3c;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#373a3c 0}#menu_A_43{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-align:left;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;perspective-origin:83.95px 18.72px;transform-origin:83.95px 18.72px;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_48,#menu_UL_47{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;color:#373a3c;text-decoration:none solid #373a3c;column-rule-color:#373a3c;caret-color:#373a3c;border:0 #373a3c;list-style:none;outline:#373a3c 0;box-sizing:border-box;text-size-adjust:100%}#menu_UL_47{float:right;height:38.44px;perspective-origin:178.67px 19.22px;transform-origin:178.67px 19.22px}#menu_LI_48{bottom:0;display:block;float:left;height:37.44px;left:0;position:relative;right:0;top:0;perspective-origin:43.08px 18.72px;transform-origin:43.08px 18.72px}#menu_A_49{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;perspective-origin:43.08px 18.72px;transform-origin:43.08px 18.72px;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_UL_50{box-sizing:border-box;color:#373a3c;height:auto;right:0;text-decoration:none solid #373a3c;text-size-adjust:100%;width:auto;column-rule-color:#373a3c;perspective-origin:50% 50%;transform-origin:50% 50%;caret-color:#373a3c;background:#383d4b;border:0 #373a3c;font:normal normal normal normal 13.01px/19.51px MONTSERRAT;list-style:none;margin:0;outline:#373a3c 0;padding:0}#menu_LI_53{bottom:0;box-sizing:border-box;color:#373a3c;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #373a3c;text-size-adjust:100%;top:0;column-rule-color:#373a3c;perspective-origin:59.8px 18.72px;transform-origin:59.8px 18.72px;caret-color:#373a3c;border:0 #373a3c;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#373a3c 0}#menu_A_54{box-sizing:border-box;color:#fff;display:block;height:37.44px;position:relative;text-decoration:none solid #fff;text-size-adjust:100%;touch-action:manipulation;column-rule-color:#fff;perspective-origin:59.8px 18.72px;transform-origin:59.8px 18.72px;caret-color:#fff;border-right:1px solid #007ee5;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_55{bottom:0;box-sizing:border-box;color:#373a3c;display:block;float:left;height:38.44px;left:0;position:relative;right:0;text-decoration:none solid #373a3c;text-size-adjust:100%;top:0;column-rule-color:#373a3c;perspective-origin:75.8px 19.22px;transform-origin:75.8px 19.22px;caret-color:#373a3c;border:0 #373a3c;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#373a3c 0}#menu_A_56{box-sizing:border-box;color:#fff;display:block;height:38.44px;position:relative;text-decoration:none solid #fff;text-size-adjust:100%;touch-action:manipulation;column-rule-color:#fff;perspective-origin:75.8px 19.22px;transform-origin:75.8px 19.22px;caret-color:#fff;border-right:1px solid #007ee5;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_DIV_57,#menu_SPAN_58{box-sizing:border-box;text-size-adjust:100%;font:normal normal bold normal 10px/15px MONTSERRAT;list-style:none}#menu_DIV_57{display:inline-block;height:19px;perspective-origin:10px 9.5px;transform-origin:10px 9.5px;background:#fff;border:2px solid #1081d2;border-radius:50%;margin:0 5px 0 0}#menu_SPAN_58{display:block;height:15px;text-align:center;perspective-origin:8px 7.5px;transform-origin:8px 7.5px}#menu_DIV_59,#menu_LI_61,#menu_UL_60{border:0 #373a3c;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;color:#373a3c;text-decoration:none solid #373a3c;text-size-adjust:100%;column-rule-color:#373a3c;caret-color:#373a3c;outline:#373a3c 0}#menu_DIV_59{box-shadow:rgba(0,0,0,.15) 0 0 3px 0;height:43.41px;min-width:auto;perspective-origin:640.5px 21.7px;transform-origin:640.5px 21.7px;background:#fff;flex:0 1 100%}#menu_UL_60{perspective-origin:603.75px 0;transform-origin:603.75px 0;list-style:none;margin:0 36.75px;padding:0}#menu_LI_61{height:0;perspective-origin:603.75px 0;transform-origin:603.75px 0;list-style:none}#menu_A_62{box-sizing:border-box;color:#373a3c;display:block;float:left;height:44.41px;text-decoration:none solid #373a3c;text-size-adjust:100%;touch-action:manipulation;column-rule-color:#373a3c;perspective-origin:48.28px 22.2px;transform-origin:48.28px 22.2px;caret-color:#373a3c;border-top:0 none #373a3c;border-right:0 none #373a3c;border-bottom:3px solid #1081d2;border-left:0 none #373a3c;font:normal normal bold normal 13.01px/19.51px MONTSERRAT;list-style:none;margin:2px 7px -3px 0;outline:#373a3c 0;padding:11.22px 4px}
	}/*#menu_A_62*/

	  @font-face {
	    font-family: 'Fira Sans';
	    src: local('FiraSans-Regular'),
	    url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
	}
	body{
		  background-image: url({% static 'imagenes/fondo.svg' %}) !important;

	}
	legend {
	    background-color: rgb(118, 180, 247);
	    color: #fff;
	    padding: 3px 6px;
	    font-family: "MONTSERRAT" !important;
	}

	.output {
	    font: 1rem 'Fira Sans', sans-serif;
	}

	input,
	label ,textarea {
	    width: 43%;
	    color: #373a3c;
	    font-family: "MONTSERRAT" !important;
	}
	h1, p {
	    font-family: "MONTSERRAT" !important;
	    color: #373a3c;
	}
	input {
	    margin: 1rem 0;
	    color: #373a3c;
	    font-family: "MONTSERRAT" !important;
	}
	textarea{
		width: 380px;
		height: 100px;
	}
	label , textarea {
	    display: inline-block;
	    font-size: .8rem;
	    color: #373a3c;
	    font-family: "MONTSERRAT" !important;

	}
	div{
	    display: inline-block;
	    font-size: 30px;
	    color: #373a3c;

	    font-family: "MONTSERRAT" !important;
	}
	button{
	  margin-left: 300px;
	  width:400px; 
	  height:30px;
	  margin-top: 30px;
	  color: white;
	  background-color: #76b4f7;
	  font-family: "MONTSERRAT" !important;
	}
	fieldset{
		margin-left: 300px;
		margin-right: 300px;
		background-color: #fff;	
	}
	#mensaje{
		font-family: "MONTSERRAT" !important;
		font-size: 30px;
	}

	</style>
	    <div id="menu_DIV_1">
	        <div id="menu_DIV_2">
	            
	            <h1 id="menu_H1_17">
	                <a href="/admin/" id="menu_A_18"><img src="{% static 'imagenes/logo.png' %}" alt=""  id="menu_IMG_19" /></a>
	            </h1>
	        </div>
	        <div id="menu_DIV_20">
	            <div id="menu_DIV_23">
	                <a href="/admin/password_change/" id="menu_A_25">Cambiar contraseña</a> <span id="menu_SPAN_26">/</span> <a href="/admin/logout/" id="menu_A_27">Terminar sesión</a>
	            </div>
	        </div>
	        <div id="menu_DIV_31">
	            <ul id="menu_UL_32">
	                <li id="menu_LI_33">
	                    <a href="/admin/" id="menu_A_34">Inicio</a>
	                </li>
	                <li id="menu_LI_37">
	                    <a href="/admin/Proyectos/convocatoria/" id="menu_A_38">Convocatorias</a>
	                </li>
	                <li id="menu_LI_37">
	                    <a href="/admin/Proyectos/propuesta/" id="menu_A_38">Proyectos</a>
	                    <ul id="menu_UL_39">
	                        <li id="menu_LI_40">
	                            <a href="/admin/proyectos/propuesta/" id="menu_A_41">Proyectos</a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	    </div>

	<br>
	<br>
	<br>

	<fieldset>
	    <legend>BUZÓN DE SUGERENCIAS</legend>
	     <label>Usuario</label>
	     <label id="user">{{request.user}}</label>
	     <br>
	     <br>
	     <div id="mensaje1">
	     	<label>Sugerencia:</label>
	     	<br>
	     <textarea id="Sugerencia"></textarea>
	     </div>
	 <div style="font-size: 13px;" id="mensaje"></div>    
	</fieldset>
	
<BUTTON id="guardar">ENVIAR</BUTTON>



<script type="text/javascript">
	$("#guardar").click(function(event) {
        event.preventDefault();

         var Sugerencia = $("#Sugerencia").val()

         $.post("{% url 'enviar_sugerencia' %}",{"Sugerencia": Sugerencia},
         	   function(json){
            if(json != null && json != undefined && json != ""){
              if (json!=0 && json!="0"){
                if (json == "enviado"){
                  $("#mensaje").html('<div style="font-size: 16px;" class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Notificación:</span>Gracias por su opinión, esto nos ayudara a mejorar en nuestras interacciones</div>');
                  $("#Sugerencia").val("");
                  }else if(json == "error"){
                  $("#mensaje").html('<div  style="font-size: 16px;" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Se presento un problema al enviar la sugerencia, intentar en otro momento.</div>');
                }
            }
        }

    });

   });  
</script>
	</body>
	</html>