{% load staticfiles %}
<html>
<head>
  <title>informacion</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>


<style type="text/css">

   #menu_A_38,#menu_LI_37{perspective-origin:49.55px 18.72px}body{background-color:#fff!important}@font-face{font-family:MONTSERRAT;src:url("{% static 'css/Montserrat-Light.ttf' %}");src:local("{% static 'css/Montserrat-Light.ttf' %}"),url("{% static 'css/Montserrat-Light.woff' %}") format('woff'),url(gestareg-Montserrat-Light.woff2) format('woff2'),url("{% static 'css/Montserrat-Light.ttf' %}") format('ttf') url("{% static 'css/Montserrat-Light.eot' %}") format('eot')}#menu_A_18,#menu_IMG_19{perspective-origin:70px 30px;transform-origin:70px 30px}#menu_A_34,#menu_LI_33{perspective-origin:36.52px 18.72px;transform-origin:36.52px 18.72px}.container,.image-container:before{background:#fff!important;opacity:.9!important}.moving-tab{background-color:#76B4FA!important;box-shadow:inherit!important}.btn.btn-info,.btn.btn-info.active,.btn.btn-info.active:focus,.btn.btn-info.active:hover,.btn.btn-info:active,.btn.btn-info:active:focus,.btn.btn-info:active:hover,.btn.btn-info:focus,.btn.btn-info:hover,.open>.btn.btn-info.dropdown-toggle,.open>.btn.btn-info.dropdown-toggle:focus,.open>.btn.btn-info.dropdown-toggle:hover{background-color:#76B4FA!important;color:#FFF!important}.input_modal,.form-group .form-control{background-image:linear-gradient(#76B4FA,#76B4FA),linear-gradient(#D2D2D2,#D2D2D2)!important}.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff!important;background-color:#ec8d6c!important;border-color:#ec8d6c!important}.btn.btn-success,.btn.btn-success.active,.btn.btn-success.active:focus,.btn.btn-success.active:hover,.btn.btn-success:active,.btn.btn-success:active:focus,.btn.btn-success:active:hover,.btn.btn-success:focus,.btn.btn-success:hover,.open>.btn.btn-success.dropdown-toggle,.open>.btn.btn-success.dropdown-toggle:focus,.open>.btn.btn-success.dropdown-toggle:hover{background-color:#ec8d6c!important;color:#FFF!important}.btn-success{color:#fff!important;background-color:#ec8d6c!important;border-color:#ff9800!important }#menu_DIV_31{background:#76b4f7}#menu_A_34,#menu_A_38{border-top:0 none #fff;border-bottom:0 none #fff}#menu_DIV_1,#menu_DIV_2{color:#373a3c;text-decoration:none solid #373a3c;caret-color:#373a3c;border:0 #373a3c;outline:#373a3c 0}th{text-align:left;background-color:#f4f4f4}#menu_DIV_2,#menu_DIV_20,#menu_DIV_31,#menu_DIV_59{min-height:auto;align-self:center}#menu_UL_39{box-shadow:rgba(0,0,0,.07) 0 -1px 2px 0;display:none;position:absolute;z-index:1000}.ocultar{display:none}#menu_DIV_12:after,#menu_DIV_15:after,#menu_DIV_5:after,#menu_DIV_8:after{clear:both;content:'""';display:table;height:auto;width:auto}.#menu_A_34,#menu_A_38,#menu_A_41,#menu_A_46,#menu_A_52,#menu_A_62,#menu_DIV_57,#menu_UL_39{text-align:left}#menu_DIV_1,#menu_DIV_11,#menu_DIV_12,#menu_DIV_12:after,#menu_DIV_2,#menu_DIV_3,#menu_DIV_4,#menu_DIV_5,#menu_DIV_5:after{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%}#menu_UL_32{margin:0 26.25px;padding:0}#menu_DIV_1{display:flex;width:100%;column-rule-color:#373a3c;align-content:center;align-items:center;justify-content:flex-start;perspective-origin:640.5px 85.5px;transform-origin:640.5px 85.5px;background:url("{% static 'css/fondo_2.svg' %}") repeat-x #fff;flex-flow:row wrap;padding:14.58px 0 0}#menu_DIV_2{height:60px;min-width:200px;¡column-rule-color:#373a3c;perspective-origin:144px 30px;transform-origin:144px 30px;flex:0 1 288px;padding:0 0 0 26.25px}#menu_DIV_3{box-shadow:#888 2px 2px 6px 0;display:none;height:auto;position:absolute;right:10px;top:10%;z-index:9999;perspective-origin:50% 50%;transform-origin:50% 50%;background:#fff;border-radius:5px}
   #menu_A_18,#menu_DIV_5:after,#menu_IMG_19{border:0 #fff;color:#fff;text-decoration:none solid #fff;column-rule-color:#fff;caret-color:#fff;outline:#fff 0}#menu_A_25,#menu_A_27{color:#5c5f6f;height:28px;text-decoration:none solid #5c5f6f;column-rule-color:#5c5f6f;caret-color:#5c5f6f;border:0 #5c5f6f;outline:#5c5f6f 0;padding:5px;display:inline-block;touch-action:manipulation}#menu_DIV_31,#menu_H1_17,#menu_LI_33,#menu_LI_35,#menu_LI_37,#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30,#menu_UL_32{color:#373a3c;text-decoration:none solid #373a3c;column-rule-color:#373a3c;caret-color:#373a3c;border:0 #373a3c;outline:#373a3c 0}#menu_DIV_11,#menu_DIV_4{box-shadow:#e4e4e4 0 1px 0 0;height:auto;position:relative;width:auto;perspective-origin:50% 50%;transform-origin:50% 50%;background:#fff;margin:0 0 10.5px}#menu_DIV_12,#menu_DIV_5{color:#fff;height:auto;text-decoration:none solid #fff;width:auto;column-rule-color:#fff;perspective-origin:50% 50%;transform-origin:50% 50%;caret-color:#fff;background:#007ee5;border-top:0 none #fff;border-right:0 none #fff;border-bottom:1px solid transparent;border-left:0 none #fff;outline:#fff 0;padding:10.5px 17.5px}#menu_DIV_12:after,#menu_DIV_5:after{perspective-origin:50% 50%;transform-origin:50% 50%}#menu_DIV_15,#menu_DIV_15:after,#menu_DIV_8,#menu_DIV_8:after,#menu_P_16,#menu_P_9{box-sizing:border-box;text-size-adjust:100%;perspective-origin:50% 50%;transform-origin:50% 50%;font:normal normal normal normal 12.6px/18.9px MONTSERRAT}#menu_DIV_15,#menu_DIV_8{height:auto;width:auto;padding:17.5px}#menu_P_16,#menu_P_9{height:auto;width:auto;margin:0 0 14px}#menu_A_18,#menu_H1_17,#menu_IMG_19{box-sizing:border-box;text-size-adjust:100%;font:normal normal normal normal 24px/26.4px MONTSERRAT}#menu_H1_17{height:60px;perspective-origin:130.88px 30px;transform-origin:130.88px 30px;margin:0}#menu_A_18{display:inline-block;touch-action:manipulation;width:80%}#menu_IMG_19{display:inline-block;height:60px;vertical-align:middle}#menu_DIV_20,#menu_SPAN_21{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%;color:#5c5f70;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0;text-align:right}#menu_DIV_20{height:28px;min-width:auto;perspective-origin:496.5px 14px;transform-origin:496.5px 14px;flex:2 1 288px;padding:0 26.25px}#menu_SPAN_21{display:inline-block;height:18px;perspective-origin:53.89px 9px;transform-origin:53.89px 9px}#menu_STRONG_22{box-sizing:border-box;color:#5c5f70;text-align:right;text-decoration:none solid #5c5f70;text-size-adjust:100%;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;font:normal normal 300 normal 12.6px/18.9px MONTSERRAT;outline:#5c5f70 0}#menu_A_25,#menu_A_27,#menu_DIV_23,#menu_DIV_31,#menu_LI_33,#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30,#menu_SPAN_24,#menu_SPAN_26,#menu_UL_32{font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;text-size-adjust:100%}#menu_DIV_23{color:#5c5f70;display:inline-block;height:28px;text-align:right;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;perspective-origin:143.59px 14px;transform-origin:143.59px 14px;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0}#menu_SPAN_24,#menu_SPAN_26{color:#5c5f70;text-align:right;text-decoration:none solid #5c5f70;column-rule-color:#5c5f70;caret-color:#5c5f70;border:0 #5c5f70;outline:#5c5f70 0}#menu_A_25{text-align:right;perspective-origin:67.44px 14px;transform-origin:67.44px 14px;margin:0 2px 0 20px}#menu_A_27{text-align:right;perspective-origin:53.48px 14px;transform-origin:53.48px 14px;margin:0 2px}#menu_SCRIPT_28,#menu_SCRIPT_29,#menu_SCRIPT_30{min-height:auto;min-width:auto;align-self:center}#menu_DIV_31{height:38.44px;min-width:auto;perspective-origin:640.5px 19.22px;transform-origin:640.5px 19.22px;flex:0 1 100%;margin:14.58px 0 0}#menu_UL_32{perspective-origin:614.25px 0;transform-origin:614.25px 0;list-style:none}#menu_LI_33{bottom:0;display:block;float:left;height:37.44px;left:0;position:relative;right:0;top:0;list-style:none}#menu_A_34{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_35{bottom:0;box-sizing:border-box;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-size-adjust:100%;top:0;perspective-origin:62.67px 18.72px;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none}#menu_LI_37{bottom:0;box-sizing:border-box;display:block;float:left;height:37.44px;left:0;position:relative;right:0;text-size-adjust:100%;top:0;transform-origin:49.55px 18.72px;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;list-style:none}#menu_A_38{bottom:0;box-sizing:border-box;color:#fff;display:block;height:37.44px;left:0;position:relative;right:0;text-decoration:none solid #fff;text-size-adjust:100%;top:0;touch-action:manipulation;column-rule-color:#fff;transform-origin:49.55px 18.72px;caret-color:#fff;border-right:1px solid #007ee5;border-left:1px solid #76b4f7;font:normal normal bold normal 12.6px/18.9px MONTSERRAT;list-style:none;outline:#fff 0;padding:9.72px 18.75px}#menu_LI_40,#menu_LI_45,#menu_LI_51,#menu_UL_39,#menu_UL_44{font:normal normal normal normal 13.01px/19.51px MONTSERRAT;color:#373a3c;text-decoration:none solid #373a3c;column-rule-color:#373a3c;caret-color:#373a3c;border:0 #373a3c;list-style:none;outline:#373a3c 0;box-sizing:border-box;text-size-adjust:100%;height:auto;width:auto;perspective-origin:50% 50%;transform-origin:50% 50%}#menu_UL_39,#menu_UL_44{background:#383d4b;margin:0;padding:0}#menu_DIV_59,#menu_LI_61,#menu_UL_60{border:0 #373a3c;font:normal normal normal normal 12.6px/18.9px MONTSERRAT;box-sizing:border-box;color:#373a3c;text-decoration:none solid #373a3c;text-size-adjust:100%;column-rule-color:#373a3c;caret-color:#373a3c;outline:#373a3c 0}#menu_DIV_59{box-shadow:rgba(0,0,0,.15) 0 0 3px 0;height:43.41px;min-width:auto;perspective-origin:640.5px 21.7px;transform-origin:640.5px 21.7px;background:#fff;flex:0 1 100%}#menu_UL_60{perspective-origin:603.75px 0;transform-origin:603.75px 0;list-style:none;margin:0 36.75px;padding:0}#menu_LI_61{height:0;perspective-origin:603.75px 0;transform-origin:603.75px 0;list-style:none}}
}/*#menu_A_62*/

  @font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Regular'),
    url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
}

legend {
    background-color: rgb(118, 180, 247);
    color: #fff;
    padding: 3px 6px;
    font-family: "MONTSERRAT" !important;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}
#titulos{
	font-weight: bold;
}
input,
label ,textarea {
	font-size: 60px;
    width: 43%;
    color: #373a3c;
    font-family: "MONTSERRAT" !important;
}
h1, p {
    font-family: "MONTSERRAT" !important;
    color: #373a3c;
}
#image{
	width: 100px;
}
input {
    margin: 1rem 0;
    color: #373a3c;
    font-family: "MONTSERRAT" !important;
}

label , textarea {
    display: inline-block;
    font-size: .8rem;
    color: #373a3c;
    font-family: "MONTSERRAT" !important;
}
div{
    display: inline-block;
    font-size: 30px;
    color: #373a3c;

    font-family: "MONTSERRAT" !important;
}
button{
  margin-left: 300px;
  width:400px; 
  height:30px;
  margin-top: 30px;
  color: white;
  background-color: #76b4f7;
  font-family: "MONTSERRAT" !important;
}
ul{
  margin-left: 200px;
}

li {
 display: inline-block; 
 font-size: 14;
}

</style>
    <div id="menu_DIV_1">
        <div id="menu_DIV_2">
            
            <h1 id="menu_H1_17">
                <a href="/admin/" id="menu_A_18"><img src="{% static 'imagenes/logo.png' %}" alt=""  id="menu_IMG_19" /></a>
            </h1>
        </div>
        <div id="menu_DIV_20">
            <div id="menu_DIV_23">
                <a href="/admin/password_change/" id="menu_A_25">Cambiar contraseña</a> <span id="menu_SPAN_26">/</span> <a href="/admin/logout/" id="menu_A_27">Terminar sesión</a>
            </div>
        </div>
        <div id="menu_DIV_31">
            <ul id="menu_UL_32">
                <li id="menu_LI_33">
                    <a href="/admin/" id="menu_A_34">Inicio</a>
                </li>
                <li id="menu_LI_37">
                    <a href="/admin/Proyectos/convocatoria/" id="menu_A_38">Convocatorias</a>
                </li>
                <li id="menu_LI_37">
                    <a href="/admin/Proyectos/propuesta/" id="menu_A_38">Proyectos</a>
                    <ul id="menu_UL_39">
                        <li id="menu_LI_40">
                            <a href="/admin/proyectos/propuesta/" id="menu_A_41">Proyectos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
<h1 style="text-align: center; font-size: 22px"> INFORMACION POSTULACIÓN </h1>

<fieldset>
	<label id="titulos">Titulo: </p> </label> 
	<LABEL>{{ informacion.prop_titulo }}</LABEL>	
	<br>
	<label id="titulos" >Desafio: </label>
	<label >{{informacion.prop_pregunta_desafio}}</label>
	<br>
	<label  id="titulos">Solución: </label>
	<label >{{informacion.prop_solucion}}</label>
	<br>
	<label id="titulos" >Fecha Creaccion proyecto :</label>
	<label >{{informacion.prop_fechaCreacion}}</label>
	<br>
	<label  id="titulos">Resultado evaluación: </label>
	<label >{{ informacion.prop_resumen_desafio}}</label>
</fieldset>

		<div id="menu_DIV_59">
			<ul id="menu_UL_60">
				<li class="encuesta" id="menu_LI_61"><a href="{% url 'generar_pdf' informacion.pk %}"><img style="width: 100px;" src="{% static 'imagenes/postula.png' %}"></a>Proyecto</li>
				<li class="encuesta" id="menu_LI_61"><a href="{% url 'generar_pdf' informacion.pk %}"><img style="width: 100px;" src="{% static 'imagenes/postula.png' %}"></a>Reporte</li>
				
			</ul>

		</div>


<script type="text/javascript"></script>
<script>
	restaFechas = function(f1,f2)
	 {
	 var aFecha1 = f1.split('/');
	 var aFecha2 = f2.split('/');
	 var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]);
	 var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]);
	 var dif = fFecha2 - fFecha1;
	 var dias = Math.floor(dif / (1000 * 60 * 60 * 24));
	 return dias;
	 }
	//Comprobamos que tenga formato correcto
	var fecha1 = new Date("{{informacion.prop_fechaCreacion}}");
	var f1 = (fecha1.getDate() + '/' + (fecha1.getMonth()+1) + '/' +  fecha1.getFullYear());
	var fecha2 = new Date();
	var f2 = fecha2.getDate()  + '/' + ((fecha2.getMonth() + 1)+ '/' +  fecha2.getFullYear());
	// var selected_date = new Date("{{ informacion.prop_fechaCreacion }}")
	var dias = (restaFechas(f1,f2));
 	document.getElementById("demo").innerHTML = dias;

 	
 	// function muestra_oculta(id){
		// if (dias == 15){ //se obtiene el id
		// var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
		// el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
		// }
		// }

		// window.onload = function(){/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
		// muestra_oculta('postula');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
		// }


</script>
<script type="text/javascript">
	
 	if (dias>=10)
		$('#reporte').show();
	 else
 		$('#postula').hide();
	
</script>

</body>
</html>
 

