{% extends "admin/base_convocatoria.html" %}
{% load staticfiles %}
{% block titulo %} Postulacion{% endblock titulo %}
{% block extra_css %}
<!DOCTYPE html>
<html>
<head>
	<title> Postulacion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<style type="text/css">
	body{
	margin-top:40px; 
}

.stepwizard-step p {
	margin-top: 10px;
}

.stepwizard-row {
	display: table-row; 
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;

}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.wizard-card .btn {
    text-transform: uppercase;
}

h1,h2{
	text-align: center;
	color: #3C4858;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

</style>
{% endblock extra_css %}
{% block content %}
<body>

<div class="container">

	{% for project in project_list %}
    <li><a href="{% url 'projects:detail' convocatoria.con_nombre %}">{{ convocatoria.con_nombre }}</a></li>
{% endfor %}
</div>
	<!-- esto tiene que ser un llamado a la convocatoria -->
<div class="stepwizard">
	<div class="stepwizard-row setup-panel">
		<div class="stepwizard-step">
			<a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
			<p>Datos del Proyecto</p>
		</div>
		<div class="stepwizard-step">
			<a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
			<p>Actividades y Presupuesto</p>
		</div>
		<div class="stepwizard-step">
			<a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
			<p>Resultados</p>
		</div>
		<div class="stepwizard-step">
			<a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
			<p>Equipos</p>
		</div>	
		<div class="stepwizard-step">
			<a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
			<p>Audiovisual</p>
		</div>	
		<div class="stepwizard-step">
			<a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
			<p>Localización</p>
		</div>	
		<div class="stepwizard-step">
			<a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
			<p>Instituciones Educativas</p>
		</div>	
	</div>
</div>
<form role="form">
	<div class="row setup-content" id="step-1">
		<div class="col-xs-12">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Título de tu propuesta</label>
					<input name="titulo" id="titulo" maxlength="255" type="text"  class="form-control" placeholder="titulo de propuesta">
				</div>
				<div class="form-group">
					<label class="control-label">Resumen de tu desafío</label>
					<input name="resumen" id="resumen" maxlength="255" type="text" class="form-control" placeholder="Resumen desafio" />
				</div>
				<div class="form-group">
					<label class="control-label">Pregunta de tu desafío</label><br>
					<label class="">¿Cómo podríamos _________________________ ? </label><input name="pregunta" id="pregunta" maxlength="255" type="text"  class="form-control" placeholder="Pregunta desafio" />
				</div>
				<div class="form-group">
					<label class="control-label">Temática</label>
						{% if tematicas %}
							<select id="tematicas" name="tematicas" class="form-control">
								{% for propuesta_tematica in tematicas %}
						  			<option value="{{ propuesta_tematica.pk }}" > {{ propuesta_tematica.nombre }}</option>
								{% endfor %}
							</select>
						{% endif %}
				</div>
				<div class="form-group">
					<label class="control-label">Determinantes</label>
					<div style="font-size: 15px">
						<table>
								<tr> 
									<td> <input type="checkbox" id="curriculum" name="curriculum">Curriculum <br></td>
									<td style="padding-left: 100px"><input type="checkbox" name="espacios"> Espacios <br></td>
								</tr>
								<tr>
									<td><input type = "checkbox" id="herramientas" name="herramientas" >   Herramientas y Procesos<br></td>
									<td style="padding-left: 100px"><input type="checkbox" name="sistemas"> Sistemas <br></td>
								</tr>

						</table>
					</div>
					<br>
					<label class="control-label">Justificación</label>
					<br>
					<textarea name="justificacion" id="justificacion" class="form-control"></textarea>
					<br>
					<label class="control-label">Solución</label>
					<br>
					<textarea name="solucion" id="solucion" class="form-control"></textarea>
				</div>

				<button class="btn btn-primary nextBtn btn-lg pull-right" id="guardar" type="button" >Siguiente</button>
			</div>
		</div>
	</div>
<!-- 	<div class="row setup-content" id="step-2">
		<div class="col-xs-12">
			<div class="col-md-12"> -->
				
	<!-- 			<div class="form-group">
					<div class="tab">
					  <button class="tablinks" onclick="tabs_act(event, 'actividad')">Actividad</button>
					  <button class="tablinks" onclick="tabs_act(event, 'metodologia')">Metodologia</button>
					  <button class="tablinks" onclick="tabs_act(event, 'tiempo')">Tiempo</button>
					  <button class="tablinks" onclick="tabs_act(event, 'Presupuesto')">Presupuesto</button>
					  <button class="tablinks" onclick="tabs_act(event, 'riesgo')">Riesgo</button>
					</div>
				</div>
				<div class="form-group"> 
					<div id="actividad" class="tabcontent">
					  <input maxlength="255" type="text" required="required" class="form-control" placeholder="Describir actividad" />
					</div>
				</div>
				<div class="form-group"> 
					<div id="metodologia" class="tabcontent">
						<textarea class="form-control" placeholder="Describir metodologia"></textarea>
					</div>
				</div>
				<div class="form-group"> 
					<div id="tiempo" class="tabcontent">
					   <input maxlength="255" type="text" required="required" class="form-control" placeholder="El tiempo esta dado en dias, meses, años, etc." />
					</div>
				</div>
				<div class="form-group"> 
					<div id="Presupuesto" class="tabcontent">
				 		<input maxlength="255" type="text" required="required" class="form-control" placeholder="Definir presupuesto establecido para esta actividad" />
				 	</div>
				</div>

				<div class="form-group"> 
					<div id="riesgo" class="tabcontent">
					  <textarea class="form-control" placeholder="describir el riesgo que implica esta actividad con respecto a la realizacion de la propuesta"></textarea>
					</div>
				</div>
				 -->
<!-- 
				<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
			</div>
		</div>
	</div> -->
	<div id="mensaje"></div>


<!-- ________________________________________________Actividades  -->
	<div class="row setup-content" id="step-2">
		<div class="col-xs-12">
			<div class="col-md-12">
					<!-- <table class="table table-bordered" id="tbl_principal">
						<thead>
							<tr>
								<th>¿Qué actividad vas a hacer?</th>
								<th>¿Cómo la vas a hacer?</th>
								<th>¿Cuánto tiempo te tomará?</th>
								<th>¿Cuánto te gastarás?</th>
								<th>¿Qué riesgos identificas?</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody id="tbl_principal_body">
							<tr id="in-1">
							<td><input type="text" name="actividades"></td>
							<td><input type="text" name="metodologia"></td>
							<td><input type="text" name="tiempo"></td>
							<td><input type="text" name="presupuesto"></td>
							<td><input type="text" name="riesgo"></td>
							<td><a class="btn btn-xs delete" datas-id='1'><i class="glyphicon glyphicon-trash"></i></a></td>
							</tr>
						</tbody>
					</table> -->
					<!-- <div>
						<a class="btn btn-primary pull-left add" data-added='1'><i class="glyphicon glyphicon-plus"></i>Añadir actividad</a>
					</div> -->
					<!-- <div style="display: none;">
						<table id="example_table">
							<tr id="">
								<td><input type="text" name="actividades"></td>
								<td><input type="text" name="metodologia"></td>
								<td><input type="text" name="tiempo"></td>
								<td><input type="text" name="presupuesto"></td>
								<td><input type="text" name="riesgo"></td>
								<td><a class="btn btn-xs delete" datas-id='1'><i class="glyphicon glyphicon-trash"></i></a></td>
							</tr>
						</table>
						
					</div> -->
					<div>
						<input type="button" id="btn_mostrar_modal_actividades" class="btn btn-primary" value="Agregar Actividad">
						<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
					</div>
			</div>
			
		</div>
	</div>

	<div class="row setup-content" id="step-3">
		<div class="col-xs-12">
			<div class="col-md-12">
				<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>	
			</div>
		</div>
	</div>

	<!-- _____________________________________Equipo_________________________ -->
	<div class="row setup-content" id="step-4">
		<div class="col-xs-12">
			<div class="col-md-12">
					<table class="table table-bordered" id="tbl_posts">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Funciones del equipo</th>
								<th>Teléfono</th>
								<th>Correo</th>
								<th>Reseña</th>
								<th>Redes</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody id="tbl_posts_body">
							<tr id="rec-1">
							<td><input type="text" name="nombre"></td>
							<td><input type="text" name="funciones"></td>
							<td><input type="text" name="Teléfono"></td>
							<td><input type="text" name="Correo"></td>
							<td><input type="text" name="Reseña"></td>
							<td><input type="text" name="Redes"></td>
							<td><a class="btn btn-xs delete-record" data-id='1'><i class="glyphicon glyphicon-trash"></i></a></td>
							</tr>
						</tbody>
					</table>
					<div>
						<a class="btn btn-primary pull-left add-record" data-added='1'><i class="glyphicon glyphicon-plus"></i>Agregar miembro</a>
					</div>
					<div style="display: none;">
						<table id="sample_table">
							<tr id="">
								<td><input type="text" name="nombre"></td>
								<td><input type="text" name="funciones"></td>
								<td><input type="text" name="Teléfono"></td>
								<td><input type="text" name="Correo"></td>
								<td><input type="text" name="Reseña"></td>
								<td><input type="text" name="Redes"></td>
								<td><a class="btn btn-xs delete-record" data-id='1'><i class="glyphicon glyphicon-trash"></i></a></td>
							</tr>
						</table>
						
					</div>	
						<button class="btn btn-primary nextBtn btn-lg pull-right"  type="button" >Siguiente</button>			
			</div>
		</div>
	</div>

	<!-- ___________________________________ Audiovisual __________________ -->
	<div class="row setup-content" id="step-5">
		<div class="col-xs-12">
			<div class="col-md-12">

				<div class="form-group">
					<form action="/action_page.php">
					  Select images: <input type="file" name="img" multiple>
					  <input type="submit">
					</form>

				</div>
				<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
				<button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
			</div>
		</div>
	</div>	
</form>
</div>
</body>
{% endblock content %}
{% block extra_js %}
</html>
<!-- __________________________ Navegacion ________________________  -->
<script type="text/javascript">

	

	$(document).ready(function () {

		var navListItems = $('div.setup-panel div a'),
				allWells = $('.setup-content'),
				allNextBtn = $('.nextBtn');

		allWells.hide();

		navListItems.click(function (e) {
			e.preventDefault();
			var $target = $($(this).attr('href')),
					$item = $(this);

			if (!$item.hasClass('disabled')) {
				navListItems.removeClass('btn-primary').addClass('btn-default');
				$item.addClass('btn-primary');
				allWells.hide();
				$target.show();
				$target.find('input:eq(0)').focus();
			}
		});

		allNextBtn.click(function(){
			var curStep = $(this).closest(".setup-content"),
				curStepBtn = curStep.attr("id"),
				nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
				curInputs = curStep.find("input[type='text'],input[type='url']"),
				isValid = true;

			$(".form-group").removeClass("has-error");
			for(var i=0; i<curInputs.length; i++){
				if (!curInputs[i].validity.valid){
					isValid = false;
					$(curInputs[i]).closest(".form-group").addClass("has-error");
				}
			}

			if (isValid)
				nextStepWizard.removeAttr('disabled').trigger('click');
		});

		$('div.setup-panel div a.btn-primary').trigger('click');
	});
// ____________________________________________Actividades ____________________________________

	function tabs_act(evt, cityName) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    // document.getElementById(cityName).style.display = "block";
	    // evt.currentTarget.className += " active";
	}

	$(document).ready(function(){
		$("#guardar").click(function(event) {
			event.preventDefault();
				var titulo = $("#titulo").val()
				var resumen = $("#resumen").val()
				var pregunta = $("#pregunta").val()
				//var determinantes = $("#determinantes").val()
				var tematicas = $("#tematicas").val();
				var justificacion = $("#justificacion").val()
				var solucion = $("#solucion").val()
				

				$.post("{% url 'api-save-propuesta' %}",{"titulo": titulo, "resumen": resumen, "pregunta": pregunta, "tematicas": tematicas, "justificacion": justificacion, "solucion": solucion},
					function(json){
							if(json != null && json != undefined && json != ""){
								if (json!=0 && json!="0"){
									if (json == "guardado"){
										$("#mensaje").html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Error:</span> Usuario Registrado Exitosamente.</div>');
										$("#titulo").val("");
										$("#resumen").val("");
										$("#pregunta").val("");
										$("#tematicas").val("");
										$("#justificacion").val("");
										$("#solucion").val("");


		
									}else if(json == "llenar campos"){
										$("#mensaje").html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Correo ya Existente, Por favor Intentelo de Nuevo.</div>');
									}
								}
							}
					});


			});
		});

</script>


<!-- // ______________________________________________equipo _______________________________________ -->
<script type="text/javascript">
	$(document).delegate('a.add-record', 'click', function(e){
		e.preventDefault();
		var content = jQuery('#sample_table tr'),
		size =jQuery('#tbl_posts >tbody >tr').length + 1,
		element = null,
		element = content.clone();
		element.attr('rec-'+size);
		element.find('.delete-record').attr('data-id',size);
		element.appendTo('#tbl_posts_body');
	});
</script>

<script type="text/javascript">
	$(document).delegate('a.delete-record' , 'click', function(e){
		e.preventDefault();
		 var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    return true;
  } else {
    return false;
  }

	});
</script>
<!-- _____________________________________________ actividades _____________________________________ -->

<script type="text/javascript">
	$(document).delegate('a.add', 'click', function(e){
		e.preventDefault();
		var content = jQuery('#example_table tr'),
		size =jQuery('#tbl_principal >tbody >tr').length + 1,
		element = null,
		element = content.clone();
		element.attr('in-'+size);
		element.find('.delete').attr('datas-id',size);
		element.appendTo('#tbl_principal_body');
	});
</script>

<script type="text/javascript">
	$(document).delegate('a.delete' , 'click', function(e){
		e.preventDefault();
		var confirmacion = confirm("¿Esta seguro que desea borrar este integrante ?");
     if (confirmacion == true) {
      var ide = jQuery(this).attr('datas-id');
      var targetDive = jQuery(this).attr('targetDive');
      jQuery('#in-' + ide).remove();
      
    return true;
  } else {
    return false;
  }

	});
</script>
{% endblock extra_js %} 