{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Reporte proyecto</title>
    <style type="text/css">
        fieldset{
            background-color: #fff; 
        }
    
        body{
            background-image: url({% static 'imagenes/fondo.svg' %}) !important;
            font-size: 16px;
            font-family: 'Fira Sans';
            src: local('FiraSans-Regular'),
            url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
        }
        legend {
            
            padding: 3px 6px;
            font-family: "MONTSERRAT" !important;
        }
    
        input,
        label ,textarea {
            width: 43%;
            color: #373a3c;
            font-family: "MONTSERRAT" !important;
        }
        h1, p {
            font-size: 25px;
            font-family: "MONTSERRAT" !important;
            color: #373a3c;
        }
        input {
            margin: 1rem 0;
            color: #373a3c;
            font-family: "MONTSERRAT" !important;
        }
        textarea{
            width: 380px;
            height: 100px;
        }
        label , textarea {
            display: inline-block;
            font-size: .8rem;
            color: #373a3c;
            font-family: "MONTSERRAT" !important;
    
        }
        div{
            display: inline-block;
            font-size: 30px;
            color: #373a3c;
            font-family: "MONTSERRAT" !important;
        }
    </style>
     </head>
        <body style="background-image: url({% static 'imagenes/logo.png' %}) !important;">
            <div class='wrapper'>
                <h1>Detalles proyecto presentado</h1>
        
            </div>
            <fieldset>
                
                <legend>
                    Convocatoria escogida
                </legend>

                <table>
                    <tr>Convocatoria
                       <td>{{data.convo_nombre}}</td>
                    </tr>
                    <tr>
                        <td>Descripción convocatoria</td>
                        <td>data.convo_nombre.pk.con_descripcion</td>
                    </tr>
                </table>
            </fieldset>
        </body>

 </html>