{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />

{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endif %}
{% if cl.formset or action_form %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
  #changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
<link rel="stylesheet" href="{% static 'css/exportar_tabla.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}


{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
  &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}



<div class="row">
  <div class="col-xs-12 col-md-8">

    <div class="card text-center ">
      <div class="card-header">
        Último proyecto
      </div>

      <div class="card-block" style="text-align: center; margin: 0 auto">
        <div class="row" >
          <div class="col-xs-4 col-md-4" style="padding: 10px;text-align: center; margin: 0 auto">
            <img id="imagen_proyecto" src="{% static 'img/cargando.gif' %}" alt="" class="img-fluid img-thumbnail" style=" display: inline-block; " >
          </div>
          <div class="col-xs-12 col-md-8" style="padding: 10px;text-align: center; margin: 0 auto">
            <h1 id="titulo_proyecto">Sin proyecto</h1>
          </div>
        </div>
        <hr>
        <div id="link_proyecto"></div>
      </div>
    </div>
    <div class="card text-center ">

      <div class="card-block" style="text-align: center; margin: 0 auto">
      <div class="container" style="margin: 10px">
      <h1 class="jumbotron-heading">HERRAMIENTA DE ORGANIZACIÓN</h1> 
      <p class="lead text-muted">Utiliza estas herramientas en el momento de tiempo en el que te encuentres para estructurar mejor tu proyecto y ejecución <b>¡Éxitos!</b></p>
      <br><br>
      </div>
        <div class="row" style="text-align: center; margin: 0 auto; "> 
        <div class="col-lg-4">

        
          <img class="rounded-circle" src="{% static 'img/ejecucion.png' %}" alt="Generic placeholder image" width="140" height="140"><br><br>
          <h4>¿Estás ejecutando?</h4>
          <p>Organiza tu tiempo y las actividades. Cuéntanos como va todo. </p>
          <p><a id="ul_pro_actividades" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'img/terminado.png' %}" alt="Generic placeholder image" width="140" height="140"><br><br>
          <h4>¿Ya terminaste de ejecutar?</h4>
          <p> Mira un resumen de lo ejecutado, mide y analiza las metas alcanzadas.</p>
          <p><a id="ul_terminaste" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'img/seguimiento.png' %}" alt="Generic placeholder image" width="140" height="140"><br><br>
          <h4>Seguimiento en el tiempo</h4>
          <p>No importa que hayan pasado meses. Seguimos interesados en saber que ha pasado.</p>
           <p><a id="ul_terminaste_seguimiento" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
      </div>
    </div>


  </div>
  <div class="col-xs-16 col-md-4">
    <div class="card text-center " >
      <div class="card-header" >
        Transferencia
      </div>
      <div class="card-block">
        <h4 class="card-title" id ="estado_transferencia">Transferencia realizada</h4>
        <table class="table table-striped">
          <tr>
            <td>Fecha Transferencia:</td>
            <td id ="fecha_tranferencia" >No registrado</td>
          </tr>
          <tr>
            <td>Monto</td>
            <td id ="monto_tranferencia">No registrado</td>
          </tr>
          <tr>
          <td>Recibió</td>
          <td id ="recibio_tranferencia">No registrado</td>
          </tr>
        </table>
      </div>
    </div>



    <div class="card text-center ">
      <div class="card-header" id ="estado_evaluacion">
        Resultados de evaluación
      </div>
      <div class="card-block">
        <table class="table table-striped">
          <tr>
            <td>Puntaje</td>
            <td><b id="puntaje">No registrado</b></td>
          </tr>
          <tr class="info">
            <td>Estado</td>
            <td><b id="estado">No registrado</b></td>
          </tr>
        </table>
        <div id = "ver_cal"></div>
        
      </div>
    </div>

      <div class="card text-center ">
      <div class="card-header" id ="estado_evaluacion">
        Resumen de Aportes
      </div>
      <div class="card-block">
        <table class="table table-striped" id="parti">

        </table>
        <div id = "ver_cal"></div>
        
      </div>
    </div>

  </div>


</div>




<div class="modal fade" id="mdal_resultado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">SCOLA</h4> <a href="#" onclick="imprimir()">Imprimir</a>
      </div>
      <div class="modal-body" id="resultados_modal" style="max-height: 500px; overflow: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      $.get("/admin/get_proyecto_last/", {'pk':'{{user.pk}}'}, function(json){
         var cuerpo="<b>Sin datos </b>";
        if(json != null && json != undefined && json != ""){
           var cuerpo="<table class='tftable' id='reporte'>";
          $.each(json, function(index, item){
            $('#imagen_proyecto').attr('src',item.foto);
            $('#titulo_proyecto').html(item.titulo); 
            $('#ul_pro_actividades').attr('href','/admin/proyectos/proyecto/'+item.pk_pro+'/change/');
            $('#ul_terminaste').attr('href','/admin/proyectos/proyecto/'+item.pk_pro+'/change/');
            $('#ul_terminaste_seguimiento').attr('href','/admin/proyectos/proyecto/'+item.pk_pro+'/change/');
            $('#ul_terminaste_seguimiento').css("visibility","hidden");
            $('#fecha_tranferencia').html(item.fecha_transferencia);
            $('#monto_tranferencia').html(item.monto);
            $('#recibio_tranferencia').html(item.recibio);
            $('#puntaje').html(item.puntaje);
            $('#estado').html(item.estado);
            if (item.estado_ != "EE"){
              $('#ul_pro_actividades').css("display","none");
            }else if (item.estado_ != "E"){
              $('#ul_terminaste').css("display","none");
            }
            if (item.estado_ == "E" && item.seguimiento == "SI"){
              $('#ul_terminaste_seguimiento').css("visibility","visible");
              $('#ul_terminaste').css("display","none");
            }
            var html ='<tr><td></td><td><b id="">Monto</b></td></tr>';
             $.each(item.monto_part, function(index_2, item_1){
                html +='<tr><td>'+item_1.red+'</td><td><b id="">'+item_1.monto+'</b></td></tr>';
              });
            html +='<tr class="n_total"><td><h5>Total</h5></td><td><h5>'+item.total_m+'</h5></td></tr>';
            $('#parti').html(html); 
            $('#ver_cal').html('<a href="#" onclick="ver_calificaciones('+item.pk_pro+')" class="btn btn-primary">Ver resultados</a>');
            $('#link_proyecto').html('<a href="#" onclick="view_datos('+item.pk_pro+')" class="btn btn-primary">Ver proyecto</a>');
            
            if(item.monto=="Sin registro"){
             $('#estado_transferencia').html("Transferencia no realizada"); 
            }
           });
                            
        }else{
          $('#resultados_modal').html("No puedes hacer seguimiento a tu ultimo proyecto en estos momentos.");
          $('#mdal_resultado').modal("show");   
        }
      });




});



    function ver_calificaciones(id){
      $.post("/admin/get_evaluacion/", {pk_proyecto:id}, function(json){
         var cuerpo="<b>Sin históricos </b>";
        if(json != null && json != undefined && json != ""){

          var cuerpo="<table class='table table-bordered' id='reporte'>";
          $.each(json, function(index, item){
            total = item.problematica_nota+item.justificacion_nota+item.accion_nota+item.metodologia_nota+item.r_esperado_nota+item.actividades_nota+item.posibles_riesgos_nota;
            cuerpo +='<tr class="tht1" >\
                      <th  colspan="3" >Resultados de evaluación</th>\
                      </tr>\
                      <tr>\
                      <td>Fecha:</td>\
                      <td colspan="2">'+item.fecha+'</td>\
                      </tr>\
                      <tr>\
                      <td>Proyecto:</td>\
                      <td colspan="2">'+item.nombre_proyecto+'</td>\
                      </tr>\
                      <tr>\
                      <td>Evaluador:</td>\
                      <td colspan="2">'+item.evaluador+'</td>\
                      </tr>\
                      <tr>\
                      <td>Puntaje:</td>\
                      <td colspan="2">'+total+'</td>\
                      </tr>\
                      <tr>\
                      <th></th>\
                      <th>Puntaje</th>\
                      <th>Observación</th>\
                      </tr>\
                      <tr>\
                      <td>Problemática</td>\
                      <td>'+item.problematica_nota+'</td>\
                      <td>'+item.observacion_problematica_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Justificación</td>\
                      <td>'+item.justificacion_nota+'</td>\
                      <td>'+item.observacion_justificacion_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Acción</td>\
                      <td>'+item.accion_nota+'</td>\
                      <td>'+item.observacion_accion_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Beneficiarios</td>\
                      <td>'+item.beneficiarios_nota+'</td>\
                      <td>'+item.observacion_beneficiarios_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Metodología</td>\
                      <td>'+item.metodologia_nota+'</td>\
                      <td>'+item.observacion_metodologia_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Resultados esperados</td>\
                      <td>'+item.r_esperado_nota+'</td>\
                      <td>'+item.observacion_r_esperado_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Cronograma</td>\
                      <td>'+item.actividades_nota+'</td>\
                      <td>'+item.observacion_actividades_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Presupuesto</td>\
                      <td>'+item.presupuesto_nota+'</td>\
                      <td>'+item.observacion_presupuesto_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Replicabilidad</td>\
                      <td>'+item.replicabilidad_nota+'</td>\
                      <td>'+item.observacion_replicabilidad_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Posibles riesgos</td>\
                      <td>'+item.posibles_riesgos_nota+'</td>\
                      <td>'+item.observacion_posibles_riesgos_str+'</td>\
                      </tr>';
          });
          $('#resultados_modal').html(cuerpo);
          $('#mdal_resultado').modal("show");
        }else{
          $('#resultados_modal').html("Sin evaluar");
          $('#mdal_resultado').modal("show");   
        }
      });
    }


       function imprimir(){
    $("#resultados_modal").printThis({
      importCSS: true,    
      importStyle: true,         
      printContainer: true,  
      pageTitle: "Proyecto",         
      removeInline: false,
    });
  }


    function view_datos(id){

      $.get("/admin/get_proyecto/", {pk:id}, function(json){
         var cuerpo="<b>Sin datos </b>";
        if(json != null && json != undefined && json != ""){

           var cuerpo="<table class='table table-bordered' id='reporte'>";
          $.each(json, function(index, item){
            cuerpo += '<tr class="tht1" >\
                      <th  colspan="2" >Convocatoria</th>\
                      </tr>\
                      <tr>\
                      <td>Descripción:</td>\
                      <td>'+item.descripcion_convocatoria+'</td>\
                      </tr>\
                      <td>Términos de referencia:</td>\
                      <td><a href="'+item.terminos_convocatoria+'">enlace</a></td>\
                      </tr>\
                      </tr>\
                      <td>Fecha convocatoria:</td>\
                      <td>'+item.fecha_convocatoria+'</td>\
                      </tr>\
                      <tr>\
                      <th colspan="2" >Proyecto</th>\
                      </tr>\
                      <tr>\
                      <td>Título</td>\
                      <td>'+item.titulo_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Descripción de la problemática</td>\
                      <td>'+item.descripcion_p+'</td>\
                      </tr>\
                      <tr>\
                      <tr>\
                      <td>Justificación</td>\
                      <td>'+item.justificacion_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Acción</td>\
                      <td>'+item.accion_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Metodología</td>\
                      <td>'+item.metodologia_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Estado</td>\
                      <td>'+item.estado_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Presupuesto</td>\
                      <td>'+item.presupuesto_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Puntaje</td>\
                      <td>'+item.puntaje_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Localización</td>\
                      <td>'+item.localizacion+'</td>\
                      </tr>\
                      <tr>\
                      <th colspan="2">Miembros del equipo</th>\
                      </tr>';
                      var miembros_equipo=""
                      var cantidad =0;


                      $.each(item.miembros_equipo_p, function(index, item){
                       cantidad ++;
                       miembros_equipo+='<tr>\
                                <td rowspan="2">#'+cantidad+'</td>\
                                </tr>\
                                <tr>\
                                <td><b>Nombre : </b>'+item.nombre_p+'<br><b> ¿A quién representa? : </b>'+item.a_quien_representas_p+'</td>\
                                </tr>\
                                ';
                      });
                      cuerpo += miembros_equipo+'<tr>\
                      <th colspan="2">Participantes</th>\
                      </tr>';
                      var Participantes=""
                      cantidad =0;
                      $.each(item.participantes_red, function(index, item){
                       cantidad ++;
                       Participantes+='<tr>\
                                <td rowspan="2">#'+cantidad+'</td>\
                                </tr>\
                                <tr>\
                                <td>'+item.nombre+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += Participantes+'<tr>\
                      <th colspan="2">Participantes</th>\
                      </tr>';;



                      cuerpo += miembros_equipo+'<tr>\
                      <th colspan="2">Actividades: Etapa de Preparación</th>\
                      </tr><td colspan="2" ><table class="table table-bordered" ><tr><th>#</th><th>Responsable</th><th>Actividad</th><th>¿Cuánto te toma realizar esta actividad? </th><th>Valor</th></tr>';
                      var actividades_preparacion=""
                      cantidad =0;
                      $.each(item.actividades_preparacion, function(index, item){
                      cantidad ++;
                      actividades_preparacion+='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.responsable_p+'<br></td>\
                                <td>'+item.objetivos_especificos_p+'<br></td>\
                                <td>'+item.duracion_p+'<br></td>\
                                <td>'+item.valor_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += actividades_preparacion+'</td></table><tr>\
                      <th colspan="2">Actividades: Etapa de Implementación</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Responsable</th><th>Actividad</th><th>¿Cuánto te toma realizar esta actividad? </th><th>Valor</th></tr>';
                      var actividades_implementacion=""
                      cantidad =0;
                      $.each(item.actividades_implementacion, function(index, item){
                      cantidad ++;
                      actividades_implementacion+='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.responsable_p+'<br></td>\
                                <td>'+item.objetivos_especificos_p+'<br></td>\
                                <td>'+item.duracion_p+'<br></td>\
                                <td>'+item.valor_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += actividades_implementacion+'</td></table><tr>\
                      <th colspan="2">Resultados</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Unidad</th><th>Resultados esperados</th><th>Cantidad</th></tr>';
                      var Resultados =""
                      cantidad =0;
                      $.each(item.resultados_esperados, function(index, item){
                      cantidad ++;
                      Resultados +='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.unidad_p+'<br></td>\
                                <td>'+item.r_esperados_p+'<br></td>\
                                <td>'+item.cantidad_p+'<br></td>\
                                </tr>\
                                ';
                      });



                      cuerpo += Resultados +'</td></table><tr>\
                      <th colspan="2">Posibles Riesgos</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Riesgo</th><th>Estrategia</th><th>Probabilidad de ocurrencia</th></tr>';
                      var posibles_riesgos_p =""
                      cantidad =0;
                      $.each(item.posibles_riesgos_p, function(index, item){
                      cantidad ++;
                      posibles_riesgos_p +='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.riesgo_p+'<br></td>\
                                <td>'+item.estrategia_p+'<br></td>\
                                <td>'+item.probabilidad_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += posibles_riesgos_p +'</td></table>';


          });
          cuerpo +="</table>"
          $('#resultados_modal').html(cuerpo);
          $('#mdal_resultado').modal("show");
        }else{
          cuerpo ="<b>Sin datos</b>"
          $('#resultados_modal').html(cuerpo);
          $('#mdal_resultado').modal("show");
        }
      });
    }



  </script>
{% endblock %}











