{% extends 'admin/proyectos/convocatoria/change_form_base.html' %}
{% load suit_forms %}

{% block form_top %}
    <div class="row edit-row">
    <div class="col-left">
    {% block suit_form_tabs %}
        {% block breadcrumbs %}
            {{ block.super }}
        {% endblock %}
        {% block messages %}
            {{ block.super }}
        {% endblock %}
        {% if adminform.model_admin.suit_form_tabs %}

            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
                {% for tab in adminform.model_admin.suit_form_tabs %}
                    <li class="nav-item">
                        <a href="#{{ tab.0 }}" id="suit_form_tab_{{ tab.0 }}" class="nav-link">{{ tab.1 }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
    {% endblock %}

    {{ block.super }}

{% endblock %}

{% block field_sets %}
    {# render suit_form_includes at top position #}
    {% include 'suit/change_form_includes.html' with position='top' %}

    {{ block.super }}

{% endblock %}

{% block inline_field_sets %}
{#    {% suit_form_conf 'form_inlines_hide_original' as suit_form_inlines_hide_original %}#}
{#    {{ suit_form_inlines_hide_original }}#}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% suit_form_conf 'form_inlines_hide_original' inline_admin_formset as suit_form_inlines_hide_original %}
        <div class="{{ inline_admin_formset.opts.suit_classes }} {% if suit_form_inlines_hide_original %} suit-inlines-hide-original{% endif %}">
            {% include inline_admin_formset.opts.template %}
        </div>
    {% endfor %}
{% endblock %}

{% block after_field_sets %}
    {# render suit_form_includes at middle position #}
    {% include 'suit/change_form_includes.html' with position='middle' %}

    {{ block.super }}

{% endblock %}

{% block after_related_objects %}
    {{ block.super }}

    {# render suit_form_includes at last position #}
    {% include 'suit/change_form_includes.html' with position='bottom' %}

    <!-- Close left column, and that empty div -->
    </div>
    </div>

    <!-- Start right column -->

    <div class="col-right">

<script type="text/javascript">

   $('[name="_continue"]').css('display', 'none');  
   $('[name="_save"]').val("Evaluar");

    $('#id_problematica').change(function() {
        calcular();
    });

    $('#id_justificacion').change(function() {
        calcular();
    });
    $('#id_accion').change(function() {
        calcular();
    });
    $('#id_metodologia').change(function() {
        calcular();
    });
    $('#id_r_esperado').change(function() {
        calcular();
    });
    $('#id_actividades').change(function() {
        calcular();
    });
    $('#id_posibles_riesgos').change(function() {
        calcular();
    });

    $('#id_beneficiarios').change(function() {
        calcular();
    });
    $('#id_presupuesto').change(function() {
        calcular();
    });
    $('#id_replicabilidad').change(function() {
        calcular();
    });

    
    
    

function calcular(){
    total =0;
    total_str="";


    try{
        if($('#id_beneficiarios').val()!=null && $('#id_beneficiarios').val()!=undefined && $('#id_beneficiarios').val()!=""){
        if((parseInt($('#id_beneficiarios').val()))!= NaN){
            total = total + parseInt($('#id_beneficiarios').val())
        }
        }
    }catch(e){}


    try{
        if($('#id_presupuesto').val()!=null && $('#id_presupuesto').val()!=undefined && $('#id_presupuesto').val()!=""){
        if((parseInt($('#id_presupuesto').val()))!= NaN){
            total = total + parseInt($('#id_presupuesto').val())
        }
        }
    }catch(e){}


    try{
        if($('#id_replicabilidad').val()!=null && $('#id_replicabilidad').val()!=undefined && $('#id_replicabilidad').val()!=""){
        if((parseInt($('#id_replicabilidad').val()))!= NaN){
            total = total + parseInt($('#id_replicabilidad').val())
        }
        }
    }catch(e){}


    try{
        if($('#id_problematica').val()!=null && $('#id_problematica').val()!=undefined && $('#id_problematica').val()!=""){
        if((parseInt($('#id_problematica').val()))!= NaN){
            total = total + parseInt($('#id_problematica').val())
        }
        }
    }catch(e){}

    try{
        if($('#id_justificacion').val()!=null && $('#id_justificacion').val()!=undefined && $('#id_justificacion').val()!=""){
        if((parseInt($('#id_justificacion').val()))!= NaN){
       total = total + parseInt($('#id_justificacion').val())
        }
        }
    }catch(e){}

    try{
        if($('#id_accion').val()!=null && $('#id_accion').val()!=undefined && $('#id_accion').val()!=""){
        if((parseInt($('#id_accion').val()))!= NaN){
        total = total +  parseInt($('#id_accion').val())
        }
        }
    }catch(e){}

    try{
        if($('#id_metodologia').val()!=null && $('#id_metodologia').val()!=undefined && $('#id_metodologia').val()!=""){
        if((parseInt($('#id_metodologia').val()))!= NaN){
        total = total +  parseInt($('#id_metodologia').val())
        }
        }
    }catch(e){}

    try{
        if($('#id_r_esperado').val()!=null && $('#id_r_esperado').val()!=undefined && $('#id_r_esperado').val()!=""){
            if((parseInt($('#id_r_esperado').val()))!= NaN){
            total = total +  parseInt($('#id_r_esperado').val())
            }
        }
    }catch(e){}

    try{
        if($('#id_actividades').val()!=null && $('#id_actividades').val()!=undefined && $('#id_actividades').val()!=""){
        if((parseInt($('#id_actividades').val()))!= NaN){
        total = total + parseInt($('#id_actividades').val())
        }
        }
    }catch(e){}

    try{
        if($('#id_posibles_riesgos').val()!=null && $('#id_posibles_riesgos').val()!=undefined && $('#id_posibles_riesgos').val()!=""){
        if((parseInt($('#id_posibles_riesgos').val()))!= NaN){
        total = total +parseInt($('#id_posibles_riesgos').val())
        }
        }
    }catch(e){}

    if(total>100 && total<0){
        if(total==NaN && total!=undefined && total!=null){
            total_str = '<b>'+total+'</b>'
        }else{
            total_str = '<b></b>'
        }
        
    }else{
        total_str = '<b>'+total+'</b>'
    }
    $('#puntaje').html(total_str)

}
    
    
    
    
    
    
  </script>
{% endblock %}


{% block admin_change_form_document_ready %}

    {% block object-tools %}
        {{ block.super }}
    {% endblock %}


    </div>

    {{ block.super }}
{% endblock %}
