.icon-home:after { background-image:"static/imagenes/logo.png"} 
.icon-cog:after { content: "\2999"; } 
.icon-cw:after { content: "\27f3"; } 
.icon-location:after { content: "\2629"; } 


a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

.page-wrap {
  width: 960px;
  margin: 80px auto;
}

.breadcrumbs{
  visibility: hidden;
}

.convocatorias a{
  display: block;
  background-image: url('imagenes/convocatorias.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.sugerencia{
  display: block;
  background-image: url('imagenes/sugerencias.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.encuesta{
  display: block;
  background-image: url('imagenes/encuestas.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.estadisticas a{
  display: block;
  background-image: url('imagenes/estadisticas.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.proyectos a{
  display: block;
  background-image: url('imagenes/proyectos.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.red a{
  display: block;
  background-image: url('imagenes/red.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}
.last a{
  display: block;
  background-image: url('imagenes/last.png');
  background-size: 100%;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 3%;
}