<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
      
	<style>
		/* Shrink Wrap Layout Pattern CSS */
		@media only screen and (max-width: 599px) {
					td[class="hero"] img {
							width: 100%;
							height: auto !important;
					}
				td[class="pattern"] td{
						width: 100%;
				}
		}

		.pattern {
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			color: #5c5f72;
		}

		.callToAction {
			background-color: #76b5f8;
			padding: 10px 0;
			cursor: pointer;
			border-radius: 5px;
		}

		.callToAction a {
			text-decoration: none;
			color: #f1f1f2;
		}
		.linkToAction a {
			text-decoration: none;
			color: #76b5f8;
		}
	</style>
</head>
<body>
	<table cellpadding="0" cellspacing="0" style="width: 100%;">
			<tr>
					<td class="pattern">
							<table cellpadding="0" cellspacing="0" style="width: 75%; margin: 0 auto; background-color: #f1f1f2; padding:1rem;">
									<tr>
											<td  align="center" class="hero">
													<img width="300" src="http://gestion.adiuvocolombia.org/static/img/logo.png" alt="" style="display: block; border: 0;" />
											</td>
									</tr>
									<tr>
											<td align="center">
													<h1 style="margin:0;">{% block titulo %}{% endblock %}</h1>
											</td>
									</tr>
									<table cellpadding="0" cellspacing="0" style="padding: 1rem;">
										<tr>
												<td align="left">
														<p>{% block body %}{% endblock %}</p>
												</td>
										</tr>
									</table>
									<tr>
											<td align="center" class="callToAction">
													<a href="http://gestion.adiuvocolombia.org">{% block boton %}{% endblock %}</a>
											</td>
									</tr>
									<br>
									<tr>
											<td align="center" class="linkToAction">
													<a href="gestion.adiuvocolombia.org">gestion.adiuvocolombia.org</a> - <a href="adiuvocolombia.org">adiuvocolombia.org</a>
											</td>
									</tr>
									<tr>
											<td align="center">
													#EducaciónEsOportunidad
											</td>
									</tr>
									<br>
							</table>
					</td>
			</tr>
	</table>

</body>

</html>