
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}

    <link href='{% static "css/login.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "suit/css/suit.css" %}' rel='stylesheet' type='text/css'>
    
  <style>
body{
  background-image: url({% static 'img/fondo.svg' %}) !important;
  background-color: #fff;

}
.form input {
    outline: 0 !important;
    background: white  !important;
    width: 100% !important;
    margin: 0 0 15px !important;
    padding: 15px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px  !important;
    border-bottom-left-radius: 0px  !important;
    border-bottom-right-radius: 0px  !important;
    font-size: 12px !important;
}
      </style>

{% endblock %}
{% block content %}


<div class="container">
  <div class="info">
    <h1></h1>

  </div>
</div>
 <div class="thumbnail"><img src="{% static 'img/logo.png' %}"/></div>

<form method="post" class="form">
      {% csrf_token %}
<label for="id_email">Correo</label> {{form.email}}
<input type="submit" value="Enviar" class="btn btn-primary" style="text-align: center; width: 100%; margin: auto 0">
 <a href="/admin/" style="text-align: center; width: 100%; margin: auto 0">Salir</a>
</form>


{% endblock %}
