
{% extends "base_correo.html" %}
{% block titulo %}
   		RESTABLECER CONTRASEÑA
{% endblock titulo %}
{% block body %}
	Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta
	Por favor, vaya a la página siguiente y escoja una nueva contraseña:<br><br>
 {% block reset_link%}
{{protocol}}://gestion.adiuvocolombia.org{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endblock %}
<br><br>Su nombre de usuario, en caso de haberlo olvidado: <b>{{ user.get_username}}</b>
<br><br>
Si udted no ha solicitado restablecer su contraseña ignore este correo.
{% endblock body %}

{% block boton %}
	Ir a la plataforma
{% endblock boton %}