{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.help-block {
			display: block;
			margin-top: 5px;
			margin-bottom: 10px;
			color: #737373;
			font-size: 93%;
		}
		.wizard {
			margin: 20px auto;
			background: #fff;
		}

			.wizard .nav-tabs {
				position: relative;
				margin: 40px auto;
				margin-bottom: 0;
				border-bottom-color: #e0e0e0;
			}

			.wizard > div.wizard-inner {
				position: relative;
			}

		.connecting-line {
			height: 2px;
			background: #e0e0e0;
			position: absolute;
			width: 80%;
			margin: 0 auto;
			left: 0;
			right: 0;
			top: 50%;
			z-index: 1;
		}

		.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
			color: #555555;
			cursor: default;
			border: 0;
			border-bottom-color: transparent;
		}

		span.round-tab {
			width: 70px;
			height: 70px;
			line-height: 70px;
			display: inline-block;
			border-radius: 100px;
			background: #fff;
			border: 2px solid #e0e0e0;
			z-index: 2;
			position: absolute;
			left: 0;
			text-align: center;
			font-size: 25px;
		}
		span.round-tab i{
			color:#555555;
		}
		.wizard li.active span.round-tab {
			background: #fff;
			border: 2px solid #5bc0de;
			
		}
		.wizard li.active span.round-tab i{
			color: #5bc0de;
		}

		span.round-tab:hover {
			color: #333;
			border: 2px solid #333;
		}

		.wizard .nav-tabs > li {
			width: 25%;
		}

		.wizard li:after {
			content: " ";
			position: absolute;
			left: 46%;
			opacity: 0;
			margin: 0 auto;
			bottom: 0px;
			border: 5px solid transparent;
			border-bottom-color: #5bc0de;
			transition: 0.1s ease-in-out;
		}

		.wizard li.active:after {
			content: " ";
			position: absolute;
			left: 46%;
			opacity: 1;
			margin: 0 auto;
			bottom: 0px;
			border: 10px solid transparent;
			border-bottom-color: #5bc0de;
		}

		.wizard .nav-tabs > li a {
			width: 70px;
			height: 70px;
			margin: 20px auto;
			border-radius: 100%;
			padding: 0;
		}

			.wizard .nav-tabs > li a:hover {
				background: transparent;
			}

		.wizard .tab-pane {
			position: relative;
			padding-top: 50px;
		}

		.wizard h3 {
			margin-top: 0;
		}

		@media( max-width : 585px ) {

			.wizard {
				width: 90%;
				height: auto !important;
			}

			span.round-tab {
				font-size: 16px;
				width: 50px;
				height: 50px;
				line-height: 50px;
			}

			.wizard .nav-tabs > li a {
				width: 50px;
				height: 50px;
				line-height: 50px;
			}

			.wizard li.active:after {
				content: " ";
				position: absolute;
				left: 35%;
			}
		}
		body {
			background-color: #EDEFF1;
		}
		section{
			opacity: 0.8;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<section>
			<div class="wizard">
				<div class="wizard-inner">
					<div class="connecting-line"></div>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="disabled">
							<a href="" data-toggle="tab" aria-controls="" role="tab" title="Step 1">
								<span class="round-tab" style="display: none;;;">
									<i class="glyphicon glyphicon-user"></i>
								</span>
							</a>
						</li>

						<li role="presentation" class="active">
							<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Información personal">
								<span class="round-tab">
									<i class="glyphicon glyphicon-user"></i>
								</span>
							</a>
						</li>
						<li role="presentation" class="disabled">
							<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Información profecional">
								<span class="round-tab">
									<i class="glyphicon glyphicon-book"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>

				<form role="form">
					<div class="tab-content">
						<div class="tab-pane active" role="tabpanel" id="step1">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<div class="input-group input-append date">
										<input required type="text" name="nombre" class="form-control" placeholder="Nombre(s) del profesor *" id="nombre">
										<span class="input-group-addon add-on"><span class="glyphicon glyphicon-user"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<input required type="text" name="apellido" class="form-control" placeholder="Apellidos del profesor *" id="apellido">
										<span class="input-group-addon add-on"><span class="glyphicon glyphicon-user"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<input type="text" class="form-control" name="date" id="fecha_na" placeholder="Fecha de nacimiento" />
										<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<input required type="email" name="correo" class="form-control" placeholder="Correo electrónico *" id="correo">
										<span class="input-group-addon add-on"><span class="glyphicon glyphicon-cloud"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<select required name="genero" class="form-control" id="genero">
											<option class="form-control">Selecciona el género *</option>
											<option class="form-control" value="M">Masculino</option>
											<option class="form-control" value="F">Femenico</option>
											<option class="form-control" value="O">Otro</option>
										</select>
										<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
									</div><br>									
								</div>
								<div class="col-md-4">			
									<div class="input-group input-append date">											
										<input required type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-user"></span></span>
									</div>
									<span class="help-block"><div class="help-block">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div></span>
									<br>
									<div class="input-group input-append date">
										<input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contraseña *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-cog"></span></span>
									</div>
									<span class="help-block"><div class="help-block">Su contraseña no puede asemejarse tanto a su otra información personal, debe contener por lo menos 8 caracteres, no puede ser una contraseña de uso común, no puede ser completamente numérica.</div></span><br>
									<div class="input-group input-append date">	
										<input type="password" id="contrasena_2" name="contrasena_2" class="form-control" id="contraseña_2" placeholder="Confirmar contraseña" *><span class="input-group-addon add-on"><span class="glyphicon glyphicon-cog"></span></span>
									</div>
									<span class="help-block"><div class="help-block">Para verificar, ingrese la misma contraseña anterior.</div></span><br>
								</div>
								<div class="col-md-1"></div>
							</div>
							<ul class="list-inline pull-right">
								<br><li><button type="button" class="btn btn-primary next-step">Guardar y continuar</button></li>
							</ul>
						</div>
						<div class="tab-pane" role="tabpanel" id="complete">
							<div class="row">								
								<div class="col-md-6">
									<div class="input-group input-append date">	
										<input type="text" id="profecion" name="profecion" class="form-control" required="" placeholder="Profecion *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-book"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<input type="text" name="Entidad" id="entidad" class="form-control" required="" placeholder="Entidad *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-file"></span></span>
									</div><br>
								</div>
								<div class="col-md-6">
									<div class="input-group input-append date">
										<input type="text" name="institucion" id="institucion" class="form-control" required="" placeholder="Institución *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-education"></span></span>
									</div><br>
									<div class="input-group input-append date">
										<input type="text" name="titulo" id="titulo" class="form-control" required="" placeholder="Máxmio título alcanzado *"><span class="input-group-addon add-on"><span class="glyphicon glyphicon-education"></span></span>
									</div><br>
								</div>
							</div>
							<ul class="list-inline pull-right">
								<li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
								<li><button type="submit" class="btn btn-primary next-step" id="registrar">Guardar los cambios</button></li>
							</ul>
						</div>						
						<div class="clearfix"></div>
						<div id="mensaje"></div>
					</div>
				</form>
			</div>
		</section>
	   </div>
	</div>
</body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fecha_na')
				.datepicker({
					format: 'yyyy-mm-dd'
				})
			});

		$(document).ready(function () {
			//Initialize tooltips
			$('.nav-tabs > li a[title]').tooltip();
			
			//Wizard
			$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

				var $target = $(e.target);
			
				if ($target.parent().hasClass('disabled')) {
					return false;
				}
			});

			$(".next-step").click(function (e) {

				var $active = $('.wizard .nav-tabs li.active');
				$active.next().removeClass('disabled');
				nextTab($active);

			});
			$(".prev-step").click(function (e) {

				var $active = $('.wizard .nav-tabs li.active');
				prevTab($active);

			});
		});

		function nextTab(elem) {
			$(elem).next().find('a[data-toggle="tab"]').click();
		}
		function prevTab(elem) {
			$(elem).prev().find('a[data-toggle="tab"]').click();
		}
		$(document).ready(function(){

			$("#registrar").click(function(event) {
				event.preventDefault();

				var user = $("#usuario").val()
				var nombre = $("#nombre").val()
				var apellido = $("#apellido").val()
				var correo = $("#correo").val()
				var con1 = $("#contrasena").val()
				var con2 = $("#contrasena_2").val()
				var genero = $("#genero").val()
				var entidad = $("#entidad").val()
				var institucion = $("#institucion").val()
				var profecion = $("#profecion").val()
				var fecha_na = $("#fecha_na").val()
				var titulo = $("#titulo").val()
				if (con1 == con2){
					$.post("{% url 'api-save-usuario' %}",{"username": user, "correo": correo, 
															"contrasena": con1,"nombre": nombre,
															"apellido":apellido,"profecion":profecion,
															"entidad":entidad,"fecha_na":fecha_na,
															"universidad": institucion,"titulo":titulo,
															"genero":genero}, 
					function(json){
						if(json != null && json != undefined && json != ""){
							if (json!=0 && json!="0"){
								if (json == "registrado"){
									$("#mensaje").html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Error:</span> Usuario Registrado Exitosamente.</div>');
									$("#usuario").val("");$("#nombre").val("");
									$("#apellido").val("");$("#correo").val("");
									$("#contrasena_2").val("");$("#contrasena").val("");
									$("#genero").val("");$("#entidad").val("");
									$("#institucion").val("");$("#fecha_na").val("");
									$("#profecion").val("");$("#titulo").val("");
	
								}else if(json == "existe user"){
									$("#mensaje").html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Correo ya Existente, Por favor Intentelo de Nuevo.</div>');
								}
							}
						}
					});
				}else{
					$("#mensaje").html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Error al repetir la contraseña, Por favor vuelva a intentarlo.</div>');
					$("#contrasena_2").val("");
				} 
			});
		});
	</script>
</html>