
{% extends 'admin/change_form_por.html' %}
{% load suit_forms %}

{% block form_top %}
    <div class="row edit-row">
    <div class="col-left">
    {% block suit_form_tabs %}
        {% block breadcrumbs %}
            {{ block.super }}
        {% endblock %}
        {% block messages %}
            {{ block.super }}
        {% endblock %}
        {% if adminform.model_admin.suit_form_tabs %}

            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
                {% for tab in adminform.model_admin.suit_form_tabs %}
                    <li class="nav-item">
                        <a href="#{{ tab.0 }}" id="suit_form_tab_{{ tab.0 }}" class="nav-link">{{ tab.1 }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
    {% endblock %}

    {{ block.super }}

{% endblock %}


{% block field_sets %}
    {# render suit_form_includes at top position #}
    {% include 'suit/change_form_includes.html' with position='top' %}

    {{ block.super }}

{% endblock %}

{% block inline_field_sets %}
{#    {% suit_form_conf 'form_inlines_hide_original' as suit_form_inlines_hide_original %}#}
{#    {{ suit_form_inlines_hide_original }}#}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% suit_form_conf 'form_inlines_hide_original' inline_admin_formset as suit_form_inlines_hide_original %}
        <div class="{{ inline_admin_formset.opts.suit_classes }} {% if suit_form_inlines_hide_original %} suit-inlines-hide-original{% endif %}">
            {% include inline_admin_formset.opts.template %}
        </div>
    {% endfor %}
{% endblock %}

{% block after_field_sets %}
    {# render suit_form_includes at middle position #}
    {% include 'suit/change_form_includes.html' with position='middle' %}

    {{ block.super }}

{% endblock %}

{% block admin_change_form_document_ready %}

    {# Move object-tools inside rigth column #}
    {% block object-tools %}
        {{ block.super }}
    {% endblock %}


    <!-- Close right column and row -->
    </div>
{#    </div>#}
    {{ block.super }}
{% endblock %}
{% block extrajs %}

<script type="text/javascript">




 {% if not user.is_superuser %}
 $('.field-estado').css('display', 'none');
 $('.field-convocatoria').css('display', 'none');   
 {% if not change %}
    $('#archivos_multimedia_termino_set-group').css('display', 'none');
    $('#archivos_multimedia_ejecucion_set-group').css('display', 'none');
    $('#anecdota_ejecucion_set-group').css('display', 'none');
    $('#anecdota_ejecucion_set-group').css('display', 'none');
    $('#anecdota_terminaste_set-group').css('display', 'none');
 {% endif %}
 {% endif %}


 {% if not change or original.estado == none %}
 $('#archivos_multimedia_ejecucion_set-group').setAttribute('display','none');
  {% endif %}
    function imprimir(){
    $('#id_estado').val("NEV")
  }

  var finalizo = true;

    con = 3;
    var check = $('id_actividades_preparacion_postulacion_set-'+con+'-realizado');
    console.log(check.val);
    if (check.val!=""){
        check.css('display', 'none');

    }else{
        finalizo = false;
    }
   
    con++;



  </script>
{% endblock %}




