
{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />

  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
      <link rel="stylesheet" href="{% static 'css/exportar_tabla.css' %}">

{% endblock %}


{% block extrahead %}

<style type="text/css">
  #result_list{
    text-align: center !important;

  }
  #result_list  thead  tr  th  {
    text-align: center !important;

  }
  #results{
    text-align: center !important;
  }



</style>
{{ block.super }}
{{ media.js }}


{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
          {% block object-tools-items %}
            {% if has_add_permission  and user.is_superuser%}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
            {% endif %}
          {% endblock %}
        </ul>
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}


    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
      
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>

  <div class="modal fade" id="modalMapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">SCOLA</h4> <a href="#" onclick="imprimir()">Imprimir</a>
        </div>
        <div class="modal-body" id="resultados_modal" style="max-height: 500px; overflow: auto;">
       
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>



    <div class="modal fade" id="modal_notificaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Enviar mensajes</h4>
        </div>
        <div class="modal-body" id="resultados_modal" style="max-height: 500px; overflow: auto;">
          <textarea class="autosize form-control " cols="40" id="id_mensaje" name="accion" rows="2" required="" style=" word-wrap: break-word; resize: none; height: 400px;">1</textarea>
          <input type="number" name="id_para" value="0" id="id_para" style="display: none">
          <input type="number" name="titulo" value="" id="titulo" style="display: none">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" id="enviar_datos" class="btn btn-default" >Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="estatus_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body" id="resultados_modal_1">
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="mdal_resultado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">SCOLA</h4> <a href="#" onclick="imprimir_2()">Imprimir</a>
      </div>
      <div class="modal-body" id="resultados_modal_r" style="max-height: 500px; overflow: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}




{% block extrajs %}

{% if cl.has_filters %}
    <script type="text/javascript">
        // Handle change list filter null values
        Suit.$('.search-filter').suitSearchFilters();
    </script>
{% endif %}

<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script>
  <script type="text/javascript">

  $(document).ready(function() {
    //set initial state.
   $( "#enviar_datos" ).click(function() {
    status =false; 
    $.post("/admin/guardar_notificaciones/", {"para":$('#id_para').val(),"titulo":$('#titulo').val(), "mensaje":$('#id_mensaje').val() }, function(json){
        if(json != null && json != undefined && json != ""){

           var cuerpo="<table class='table table-bordered' id='reporte'>";
          $.each(json, function(index, item){
            if (item.status=="OK"){
              status = true;
            }else{
              status = false;
            }

          });
        }
      });
    if (status){
        $('#modal_notificaciones').modal('toggle');
        $('#resultados_modal_1').html("Mensaje enviado");
        $('#estatus_modal').modal("show"); 
    }else{
        $('#modal_notificaciones').modal('toggle');
        $('#resultados_modal_1').html("Error al enviar el mensaje");
        $('#estatus_modal').modal("show");  
    }
    });

    $('#paso_1_c').change(function() {
        if ($('#paso_1_c').val($(this).is(':checked')) &&   $('#paso_2_c').val($(this).is(':checked'))) {
        }

    });

    $('#paso_2_c').click(function() {
        if ($('#paso_1_c').val($(this).is(':checked')) &&   $('#paso_2_c').val($(this).is(':checked'))) {
        }
    });
});




function enviar_mensaje(id){
  $('#id_para').val(0); 
  $('#id_mensaje').val(""); 
  $('#titulo').val(""); 
  $('#modal_notificaciones').modal("show"); 
  $('#id_para').val(id); 
}

function enviar_mensaje_ev(id,titulo){
  $('#id_para').val(0); 
  $('#id_mensaje').val(""); 
  $('#titulo').val(""); 
  
  $('#modal_notificaciones').modal("show"); 
  $('#id_para').val(id); 
  $('#titulo').val(titulo); 
}

    function view_datos(id){
      var longitud="";
      var latitud="";
      $.get("/admin/get_proyecto/", {pk:id}, function(json){
         var cuerpo="<b>Sin datos </b>";
        if(json != null && json != undefined && json != ""){

           var cuerpo="<table class='table table-bordered' id='reporte'>";
          $.each(json, function(index, item){
            cuerpo += '<tr class="tht1" >\
                      <th  colspan="2" >Convocatoria</th>\
                      </tr>\
                      <tr>\
                      <td>Descripción:</td>\
                      <td>'+item.descripcion_convocatoria+'</td>\
                      </tr>\
                      <td>Términos de referencia:</td>\
                      <td><a href="'+item.terminos_convocatoria+'">enlace</a></td>\
                      </tr>\
                      </tr>\
                      <td>Fecha convocatoria:</td>\
                      <td>'+item.fecha_convocatoria+'</td>\
                      </tr>\
                      <tr>\
                      <th colspan="2" >Proyecto</th>\
                      </tr>\
                      <tr>\
                      <td>Título</td>\
                      <td>'+item.titulo_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Descripción de la problemática</td>\
                      <td>'+item.descripcion_p+'</td>\
                      </tr>\
                      <tr>\
                      <tr>\
                      <td>Justificación</td>\
                      <td>'+item.justificacion_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Acción</td>\
                      <td>'+item.accion_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Metodología</td>\
                      <td>'+item.metodologia_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Estado</td>\
                      <td>'+item.estado_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Presupuesto</td>\
                      <td>'+item.presupuesto_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Puntaje</td>\
                      <td>'+item.puntaje_p+'</td>\
                      </tr>\
                      <tr>\
                      <td>Localización</td>\
                      <td>'+item.localizacion+'</td>\
                      </tr>\
                      <tr>\
                      <th colspan="2">Miembros del equipo</th>\
                      </tr>';
                      var miembros_equipo=""
                      var cantidad =0;


                      $.each(item.miembros_equipo_p, function(index, item){
                       cantidad ++;
                       miembros_equipo+='<tr>\
                                <td rowspan="2">#'+cantidad+'</td>\
                                </tr>\
                                <tr>\
                                <td><b>Nombre : </b>'+item.nombre_p+'<br><b> ¿A quién representa? : </b>'+item.a_quien_representas_p+'</td>\
                                </tr>\
                                ';
                      });
                      cuerpo += miembros_equipo+'<tr>\
                      <th colspan="2">Participantes</th>\
                      </tr>';
                      var Participantes=""
                      cantidad =0;
                      $.each(item.participantes_red, function(index, item){
                       cantidad ++;
                       Participantes+='<tr>\
                                <td rowspan="2">#'+cantidad+'</td>\
                                </tr>\
                                <tr>\
                                <td>'+item.nombre+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += Participantes;



                      cuerpo += '<tr>\
                      <th colspan="2">Actividades: Etapa de Preparación</th>\
                      </tr><td colspan="2" ><table class="table table-bordered" ><tr><th>#</th><th>Responsable</th><th>Actividad</th><th>¿Cuánto te toma realizar esta actividad? </th><th>Valor</th></tr>';
                      var actividades_preparacion=""
                      cantidad =0;
                      $.each(item.actividades_preparacion, function(index, item){
                      cantidad ++;
                      actividades_preparacion+='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.responsable_p+'<br></td>\
                                <td>'+item.objetivos_especificos_p+'<br></td>\
                                <td>'+item.duracion_p+'<br></td>\
                                <td>'+item.valor_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += actividades_preparacion+'</td></table><tr>\
                      <th colspan="2">Actividades: Etapa de Implementación</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Responsable</th><th>Actividad</th><th>¿Cuánto te toma realizar esta actividad? </th><th>Valor</th></tr>';
                      var actividades_implementacion=""
                      cantidad =0;
                      $.each(item.actividades_implementacion, function(index, item){
                      cantidad ++;
                      actividades_implementacion+='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.responsable_p+'<br></td>\
                                <td>'+item.objetivos_especificos_p+'<br></td>\
                                <td>'+item.duracion_p+'<br></td>\
                                <td>'+item.valor_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += actividades_implementacion+'</td></table><tr>\
                      <th colspan="2">Resultados</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Unidad</th><th>Resultados esperados</th><th>Cantidad</th></tr>';
                      var Resultados =""
                      cantidad =0;
                      $.each(item.resultados_esperados, function(index, item){
                      cantidad ++;
                      Resultados +='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.unidad_p+'<br></td>\
                                <td>'+item.r_esperados_p+'<br></td>\
                                <td>'+item.cantidad_p+'<br></td>\
                                </tr>\
                                ';
                      });



                      cuerpo += Resultados +'</td></table><tr>\
                      <th colspan="2">Posibles Riesgos</th>\
                      </tr><td colspan="2" ><table class="table table-bordered"><tr><th>#</th><th>Riesgo</th><th>Estrategia</th><th>Probabilidad de ocurrencia</th></tr>';
                      var posibles_riesgos_p =""
                      cantidad =0;
                      $.each(item.posibles_riesgos_p, function(index, item){
                      cantidad ++;
                      posibles_riesgos_p +='<tr>\
                                <td>'+cantidad+'</td>\
                                <td>'+item.riesgo_p+'<br></td>\
                                <td>'+item.estrategia_p+'<br></td>\
                                <td>'+item.probabilidad_p+'<br></td>\
                                </tr>\
                                ';
                      });
                      cuerpo += posibles_riesgos_p +'</td></table>';


          });
          cuerpo +="</table>"
          $('#resultados_modal').html(cuerpo);
          $('#modalMapa').modal("show");
        }else{
          cuerpo ="<b>Sin datos</b>"
          $('#resultados_modal').html(cuerpo);
          $('#modalMapa').modal("show");
        }
      });
    }
    function ver_calificaciones(id){
      $.post("/admin/get_evaluacion/", {pk_proyecto:id}, function(json){
         var cuerpo="<b>Sin históricos </b>";
        if(json != null && json != undefined && json != ""){

          var cuerpo="<table class='table table-bordered' id='reporte'>";
          $.each(json, function(index, item){
            total = item.problematica_nota+item.justificacion_nota+item.accion_nota+item.metodologia_nota+item.r_esperado_nota+item.actividades_nota+item.posibles_riesgos_nota;
            cuerpo +='<tr class="tht1" >\
                      <th  colspan="3" >Resultados de evaluación</th>\
                      </tr>\
                      <tr>\
                      <td>Fecha:</td>\
                      <td colspan="2">'+item.fecha+'</td>\
                      </tr>\
                      <tr>\
                      <td>Proyecto:</td>\
                      <td colspan="2">'+item.nombre_proyecto+'</td>\
                      </tr>\
                      <tr>\
                      <td>Evaluador:</td>\
                      <td colspan="2">'+item.evaluador+'</td>\
                      </tr>\
                      <tr>\
                      <td>Puntaje:</td>\
                      <td colspan="2">'+total+'</td>\
                      </tr>\
                      <tr>\
                      <th></th>\
                      <th>Puntaje</th>\
                      <th>Observación</th>\
                      </tr>\
                      <tr>\
                      <td>Problemática</td>\
                      <td>'+item.problematica_nota+'</td>\
                      <td>'+item.observacion_problematica_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Justificación</td>\
                      <td>'+item.justificacion_nota+'</td>\
                      <td>'+item.observacion_justificacion_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Acción</td>\
                      <td>'+item.accion_nota+'</td>\
                      <td>'+item.observacion_accion_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Beneficiarios</td>\
                      <td>'+item.beneficiarios_nota+'</td>\
                      <td>'+item.observacion_beneficiarios_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Metodología</td>\
                      <td>'+item.metodologia_nota+'</td>\
                      <td>'+item.observacion_metodologia_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Resultados esperados</td>\
                      <td>'+item.r_esperado_nota+'</td>\
                      <td>'+item.observacion_r_esperado_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Cronograma</td>\
                      <td>'+item.actividades_nota+'</td>\
                      <td>'+item.observacion_actividades_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Presupuesto</td>\
                      <td>'+item.presupuesto_nota+'</td>\
                      <td>'+item.observacion_presupuesto_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Replicabilidad</td>\
                      <td>'+item.replicabilidad_nota+'</td>\
                      <td>'+item.observacion_replicabilidad_str+'</td>\
                      </tr>\
                      <tr>\
                      <td>Posibles riesgos</td>\
                      <td>'+item.posibles_riesgos_nota+'</td>\
                      <td>'+item.observacion_posibles_riesgos_str+'</td>\
                      </tr>';
          });
          $('#resultados_modal_r').html(cuerpo);
          $('#mdal_resultado').modal("show");
        }else{
          $('#resultados_modal_r').html("Sin evaluar");
          $('#mdal_resultado').modal("show");   
        }
      });
    }










       function imprimir_2(){
    $("#resultados_modal_r").printThis({
      importCSS: true,    
      importStyle: true,         
      printContainer: true,  
      pageTitle: "Proyecto",         
      removeInline: false,
    });
  }
      function imprimir(){
    $("#reporte").printThis({
      importCSS: true,    
      importStyle: true,         
      printContainer: true,  
      pageTitle: "Proyecto",         
      removeInline: false,
    });
  }
  </script>

{% endblock %}





 




  

